@media (max-width: 576px) {
  .w-sm-0 {
    width: 0%;
  }
  .w-sm-1 {
    width: 1%;
  }
  .w-sm-2 {
    width: 2%;
  }
  .w-sm-3 {
    width: 3%;
  }
  .w-sm-4 {
    width: 4%;
  }
  .w-sm-5 {
    width: 5%;
  }
  .w-sm-6 {
    width: 6%;
  }
  .w-sm-7 {
    width: 7%;
  }
  .w-sm-8 {
    width: 8%;
  }
  .w-sm-9 {
    width: 9%;
  }
  .w-sm-10 {
    width: 10%;
  }
  .w-sm-11 {
    width: 11%;
  }
  .w-sm-12 {
    width: 12%;
  }
  .w-sm-13 {
    width: 13%;
  }
  .w-sm-14 {
    width: 14%;
  }
  .w-sm-15 {
    width: 15%;
  }
  .w-sm-16 {
    width: 16%;
  }
  .w-sm-17 {
    width: 17%;
  }
  .w-sm-18 {
    width: 18%;
  }
  .w-sm-19 {
    width: 19%;
  }
  .w-sm-20 {
    width: 20%;
  }
  .w-sm-21 {
    width: 21%;
  }
  .w-sm-22 {
    width: 22%;
  }
  .w-sm-23 {
    width: 23%;
  }
  .w-sm-24 {
    width: 24%;
  }
  .w-sm-25 {
    width: 25%;
  }
  .w-sm-26 {
    width: 26%;
  }
  .w-sm-27 {
    width: 27%;
  }
  .w-sm-28 {
    width: 28%;
  }
  .w-sm-29 {
    width: 29%;
  }
  .w-sm-30 {
    width: 30%;
  }
  .w-sm-31 {
    width: 31%;
  }
  .w-sm-32 {
    width: 32%;
  }
  .w-sm-33 {
    width: 33%;
  }
  .w-sm-34 {
    width: 34%;
  }
  .w-sm-35 {
    width: 35%;
  }
  .w-sm-36 {
    width: 36%;
  }
  .w-sm-37 {
    width: 37%;
  }
  .w-sm-38 {
    width: 38%;
  }
  .w-sm-39 {
    width: 39%;
  }
  .w-sm-40 {
    width: 40%;
  }
  .w-sm-41 {
    width: 41%;
  }
  .w-sm-42 {
    width: 42%;
  }
  .w-sm-43 {
    width: 43%;
  }
  .w-sm-44 {
    width: 44%;
  }
  .w-sm-45 {
    width: 45%;
  }
  .w-sm-46 {
    width: 46%;
  }
  .w-sm-47 {
    width: 47%;
  }
  .w-sm-48 {
    width: 48%;
  }
  .w-sm-49 {
    width: 49%;
  }
  .w-sm-50 {
    width: 50%;
  }
  .w-sm-51 {
    width: 51%;
  }
  .w-sm-52 {
    width: 52%;
  }
  .w-sm-53 {
    width: 53%;
  }
  .w-sm-54 {
    width: 54%;
  }
  .w-sm-55 {
    width: 55%;
  }
  .w-sm-56 {
    width: 56%;
  }
  .w-sm-57 {
    width: 57%;
  }
  .w-sm-58 {
    width: 58%;
  }
  .w-sm-59 {
    width: 59%;
  }
  .w-sm-60 {
    width: 60%;
  }
  .w-sm-61 {
    width: 61%;
  }
  .w-sm-62 {
    width: 62%;
  }
  .w-sm-63 {
    width: 63%;
  }
  .w-sm-64 {
    width: 64%;
  }
  .w-sm-65 {
    width: 65%;
  }
  .w-sm-66 {
    width: 66%;
  }
  .w-sm-67 {
    width: 67%;
  }
  .w-sm-68 {
    width: 68%;
  }
  .w-sm-69 {
    width: 69%;
  }
  .w-sm-70 {
    width: 70%;
  }
  .w-sm-71 {
    width: 71%;
  }
  .w-sm-72 {
    width: 72%;
  }
  .w-sm-73 {
    width: 73%;
  }
  .w-sm-74 {
    width: 74%;
  }
  .w-sm-75 {
    width: 75%;
  }
  .w-sm-76 {
    width: 76%;
  }
  .w-sm-77 {
    width: 77%;
  }
  .w-sm-78 {
    width: 78%;
  }
  .w-sm-79 {
    width: 79%;
  }
  .w-sm-80 {
    width: 80%;
  }
  .w-sm-81 {
    width: 81%;
  }
  .w-sm-82 {
    width: 82%;
  }
  .w-sm-83 {
    width: 83%;
  }
  .w-sm-84 {
    width: 84%;
  }
  .w-sm-85 {
    width: 85%;
  }
  .w-sm-86 {
    width: 86%;
  }
  .w-sm-87 {
    width: 87%;
  }
  .w-sm-88 {
    width: 88%;
  }
  .w-sm-89 {
    width: 89%;
  }
  .w-sm-90 {
    width: 90%;
  }
  .w-sm-91 {
    width: 91%;
  }
  .w-sm-92 {
    width: 92%;
  }
  .w-sm-93 {
    width: 93%;
  }
  .w-sm-94 {
    width: 94%;
  }
  .w-sm-95 {
    width: 95%;
  }
  .w-sm-96 {
    width: 96%;
  }
  .w-sm-97 {
    width: 97%;
  }
  .w-sm-98 {
    width: 98%;
  }
  .w-sm-99 {
    width: 99%;
  }
  .w-sm-100 {
    width: 100%;
  }
  .h-sm-0 {
    height: 0%;
  }
  .h-sm-1 {
    height: 1%;
  }
  .h-sm-2 {
    height: 2%;
  }
  .h-sm-3 {
    height: 3%;
  }
  .h-sm-4 {
    height: 4%;
  }
  .h-sm-5 {
    height: 5%;
  }
  .h-sm-6 {
    height: 6%;
  }
  .h-sm-7 {
    height: 7%;
  }
  .h-sm-8 {
    height: 8%;
  }
  .h-sm-9 {
    height: 9%;
  }
  .h-sm-10 {
    height: 10%;
  }
  .h-sm-11 {
    height: 11%;
  }
  .h-sm-12 {
    height: 12%;
  }
  .h-sm-13 {
    height: 13%;
  }
  .h-sm-14 {
    height: 14%;
  }
  .h-sm-15 {
    height: 15%;
  }
  .h-sm-16 {
    height: 16%;
  }
  .h-sm-17 {
    height: 17%;
  }
  .h-sm-18 {
    height: 18%;
  }
  .h-sm-19 {
    height: 19%;
  }
  .h-sm-20 {
    height: 20%;
  }
  .h-sm-21 {
    height: 21%;
  }
  .h-sm-22 {
    height: 22%;
  }
  .h-sm-23 {
    height: 23%;
  }
  .h-sm-24 {
    height: 24%;
  }
  .h-sm-25 {
    height: 25%;
  }
  .h-sm-26 {
    height: 26%;
  }
  .h-sm-27 {
    height: 27%;
  }
  .h-sm-28 {
    height: 28%;
  }
  .h-sm-29 {
    height: 29%;
  }
  .h-sm-30 {
    height: 30%;
  }
  .h-sm-31 {
    height: 31%;
  }
  .h-sm-32 {
    height: 32%;
  }
  .h-sm-33 {
    height: 33%;
  }
  .h-sm-34 {
    height: 34%;
  }
  .h-sm-35 {
    height: 35%;
  }
  .h-sm-36 {
    height: 36%;
  }
  .h-sm-37 {
    height: 37%;
  }
  .h-sm-38 {
    height: 38%;
  }
  .h-sm-39 {
    height: 39%;
  }
  .h-sm-40 {
    height: 40%;
  }
  .h-sm-41 {
    height: 41%;
  }
  .h-sm-42 {
    height: 42%;
  }
  .h-sm-43 {
    height: 43%;
  }
  .h-sm-44 {
    height: 44%;
  }
  .h-sm-45 {
    height: 45%;
  }
  .h-sm-46 {
    height: 46%;
  }
  .h-sm-47 {
    height: 47%;
  }
  .h-sm-48 {
    height: 48%;
  }
  .h-sm-49 {
    height: 49%;
  }
  .h-sm-50 {
    height: 50%;
  }
  .h-sm-51 {
    height: 51%;
  }
  .h-sm-52 {
    height: 52%;
  }
  .h-sm-53 {
    height: 53%;
  }
  .h-sm-54 {
    height: 54%;
  }
  .h-sm-55 {
    height: 55%;
  }
  .h-sm-56 {
    height: 56%;
  }
  .h-sm-57 {
    height: 57%;
  }
  .h-sm-58 {
    height: 58%;
  }
  .h-sm-59 {
    height: 59%;
  }
  .h-sm-60 {
    height: 60%;
  }
  .h-sm-61 {
    height: 61%;
  }
  .h-sm-62 {
    height: 62%;
  }
  .h-sm-63 {
    height: 63%;
  }
  .h-sm-64 {
    height: 64%;
  }
  .h-sm-65 {
    height: 65%;
  }
  .h-sm-66 {
    height: 66%;
  }
  .h-sm-67 {
    height: 67%;
  }
  .h-sm-68 {
    height: 68%;
  }
  .h-sm-69 {
    height: 69%;
  }
  .h-sm-70 {
    height: 70%;
  }
  .h-sm-71 {
    height: 71%;
  }
  .h-sm-72 {
    height: 72%;
  }
  .h-sm-73 {
    height: 73%;
  }
  .h-sm-74 {
    height: 74%;
  }
  .h-sm-75 {
    height: 75%;
  }
  .h-sm-76 {
    height: 76%;
  }
  .h-sm-77 {
    height: 77%;
  }
  .h-sm-78 {
    height: 78%;
  }
  .h-sm-79 {
    height: 79%;
  }
  .h-sm-80 {
    height: 80%;
  }
  .h-sm-81 {
    height: 81%;
  }
  .h-sm-82 {
    height: 82%;
  }
  .h-sm-83 {
    height: 83%;
  }
  .h-sm-84 {
    height: 84%;
  }
  .h-sm-85 {
    height: 85%;
  }
  .h-sm-86 {
    height: 86%;
  }
  .h-sm-87 {
    height: 87%;
  }
  .h-sm-88 {
    height: 88%;
  }
  .h-sm-89 {
    height: 89%;
  }
  .h-sm-90 {
    height: 90%;
  }
  .h-sm-91 {
    height: 91%;
  }
  .h-sm-92 {
    height: 92%;
  }
  .h-sm-93 {
    height: 93%;
  }
  .h-sm-94 {
    height: 94%;
  }
  .h-sm-95 {
    height: 95%;
  }
  .h-sm-96 {
    height: 96%;
  }
  .h-sm-97 {
    height: 97%;
  }
  .h-sm-98 {
    height: 98%;
  }
  .h-sm-99 {
    height: 99%;
  }
  .h-sm-100 {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .w-md-0 {
    width: 0%;
  }
  .w-md-1 {
    width: 1%;
  }
  .w-md-2 {
    width: 2%;
  }
  .w-md-3 {
    width: 3%;
  }
  .w-md-4 {
    width: 4%;
  }
  .w-md-5 {
    width: 5%;
  }
  .w-md-6 {
    width: 6%;
  }
  .w-md-7 {
    width: 7%;
  }
  .w-md-8 {
    width: 8%;
  }
  .w-md-9 {
    width: 9%;
  }
  .w-md-10 {
    width: 10%;
  }
  .w-md-11 {
    width: 11%;
  }
  .w-md-12 {
    width: 12%;
  }
  .w-md-13 {
    width: 13%;
  }
  .w-md-14 {
    width: 14%;
  }
  .w-md-15 {
    width: 15%;
  }
  .w-md-16 {
    width: 16%;
  }
  .w-md-17 {
    width: 17%;
  }
  .w-md-18 {
    width: 18%;
  }
  .w-md-19 {
    width: 19%;
  }
  .w-md-20 {
    width: 20%;
  }
  .w-md-21 {
    width: 21%;
  }
  .w-md-22 {
    width: 22%;
  }
  .w-md-23 {
    width: 23%;
  }
  .w-md-24 {
    width: 24%;
  }
  .w-md-25 {
    width: 25%;
  }
  .w-md-26 {
    width: 26%;
  }
  .w-md-27 {
    width: 27%;
  }
  .w-md-28 {
    width: 28%;
  }
  .w-md-29 {
    width: 29%;
  }
  .w-md-30 {
    width: 30%;
  }
  .w-md-31 {
    width: 31%;
  }
  .w-md-32 {
    width: 32%;
  }
  .w-md-33 {
    width: 33%;
  }
  .w-md-34 {
    width: 34%;
  }
  .w-md-35 {
    width: 35%;
  }
  .w-md-36 {
    width: 36%;
  }
  .w-md-37 {
    width: 37%;
  }
  .w-md-38 {
    width: 38%;
  }
  .w-md-39 {
    width: 39%;
  }
  .w-md-40 {
    width: 40%;
  }
  .w-md-41 {
    width: 41%;
  }
  .w-md-42 {
    width: 42%;
  }
  .w-md-43 {
    width: 43%;
  }
  .w-md-44 {
    width: 44%;
  }
  .w-md-45 {
    width: 45%;
  }
  .w-md-46 {
    width: 46%;
  }
  .w-md-47 {
    width: 47%;
  }
  .w-md-48 {
    width: 48%;
  }
  .w-md-49 {
    width: 49%;
  }
  .w-md-50 {
    width: 50%;
  }
  .w-md-51 {
    width: 51%;
  }
  .w-md-52 {
    width: 52%;
  }
  .w-md-53 {
    width: 53%;
  }
  .w-md-54 {
    width: 54%;
  }
  .w-md-55 {
    width: 55%;
  }
  .w-md-56 {
    width: 56%;
  }
  .w-md-57 {
    width: 57%;
  }
  .w-md-58 {
    width: 58%;
  }
  .w-md-59 {
    width: 59%;
  }
  .w-md-60 {
    width: 60%;
  }
  .w-md-61 {
    width: 61%;
  }
  .w-md-62 {
    width: 62%;
  }
  .w-md-63 {
    width: 63%;
  }
  .w-md-64 {
    width: 64%;
  }
  .w-md-65 {
    width: 65%;
  }
  .w-md-66 {
    width: 66%;
  }
  .w-md-67 {
    width: 67%;
  }
  .w-md-68 {
    width: 68%;
  }
  .w-md-69 {
    width: 69%;
  }
  .w-md-70 {
    width: 70%;
  }
  .w-md-71 {
    width: 71%;
  }
  .w-md-72 {
    width: 72%;
  }
  .w-md-73 {
    width: 73%;
  }
  .w-md-74 {
    width: 74%;
  }
  .w-md-75 {
    width: 75%;
  }
  .w-md-76 {
    width: 76%;
  }
  .w-md-77 {
    width: 77%;
  }
  .w-md-78 {
    width: 78%;
  }
  .w-md-79 {
    width: 79%;
  }
  .w-md-80 {
    width: 80%;
  }
  .w-md-81 {
    width: 81%;
  }
  .w-md-82 {
    width: 82%;
  }
  .w-md-83 {
    width: 83%;
  }
  .w-md-84 {
    width: 84%;
  }
  .w-md-85 {
    width: 85%;
  }
  .w-md-86 {
    width: 86%;
  }
  .w-md-87 {
    width: 87%;
  }
  .w-md-88 {
    width: 88%;
  }
  .w-md-89 {
    width: 89%;
  }
  .w-md-90 {
    width: 90%;
  }
  .w-md-91 {
    width: 91%;
  }
  .w-md-92 {
    width: 92%;
  }
  .w-md-93 {
    width: 93%;
  }
  .w-md-94 {
    width: 94%;
  }
  .w-md-95 {
    width: 95%;
  }
  .w-md-96 {
    width: 96%;
  }
  .w-md-97 {
    width: 97%;
  }
  .w-md-98 {
    width: 98%;
  }
  .w-md-99 {
    width: 99%;
  }
  .w-md-100 {
    width: 100%;
  }
  .h-md-0 {
    height: 0%;
  }
  .h-md-1 {
    height: 1%;
  }
  .h-md-2 {
    height: 2%;
  }
  .h-md-3 {
    height: 3%;
  }
  .h-md-4 {
    height: 4%;
  }
  .h-md-5 {
    height: 5%;
  }
  .h-md-6 {
    height: 6%;
  }
  .h-md-7 {
    height: 7%;
  }
  .h-md-8 {
    height: 8%;
  }
  .h-md-9 {
    height: 9%;
  }
  .h-md-10 {
    height: 10%;
  }
  .h-md-11 {
    height: 11%;
  }
  .h-md-12 {
    height: 12%;
  }
  .h-md-13 {
    height: 13%;
  }
  .h-md-14 {
    height: 14%;
  }
  .h-md-15 {
    height: 15%;
  }
  .h-md-16 {
    height: 16%;
  }
  .h-md-17 {
    height: 17%;
  }
  .h-md-18 {
    height: 18%;
  }
  .h-md-19 {
    height: 19%;
  }
  .h-md-20 {
    height: 20%;
  }
  .h-md-21 {
    height: 21%;
  }
  .h-md-22 {
    height: 22%;
  }
  .h-md-23 {
    height: 23%;
  }
  .h-md-24 {
    height: 24%;
  }
  .h-md-25 {
    height: 25%;
  }
  .h-md-26 {
    height: 26%;
  }
  .h-md-27 {
    height: 27%;
  }
  .h-md-28 {
    height: 28%;
  }
  .h-md-29 {
    height: 29%;
  }
  .h-md-30 {
    height: 30%;
  }
  .h-md-31 {
    height: 31%;
  }
  .h-md-32 {
    height: 32%;
  }
  .h-md-33 {
    height: 33%;
  }
  .h-md-34 {
    height: 34%;
  }
  .h-md-35 {
    height: 35%;
  }
  .h-md-36 {
    height: 36%;
  }
  .h-md-37 {
    height: 37%;
  }
  .h-md-38 {
    height: 38%;
  }
  .h-md-39 {
    height: 39%;
  }
  .h-md-40 {
    height: 40%;
  }
  .h-md-41 {
    height: 41%;
  }
  .h-md-42 {
    height: 42%;
  }
  .h-md-43 {
    height: 43%;
  }
  .h-md-44 {
    height: 44%;
  }
  .h-md-45 {
    height: 45%;
  }
  .h-md-46 {
    height: 46%;
  }
  .h-md-47 {
    height: 47%;
  }
  .h-md-48 {
    height: 48%;
  }
  .h-md-49 {
    height: 49%;
  }
  .h-md-50 {
    height: 50%;
  }
  .h-md-51 {
    height: 51%;
  }
  .h-md-52 {
    height: 52%;
  }
  .h-md-53 {
    height: 53%;
  }
  .h-md-54 {
    height: 54%;
  }
  .h-md-55 {
    height: 55%;
  }
  .h-md-56 {
    height: 56%;
  }
  .h-md-57 {
    height: 57%;
  }
  .h-md-58 {
    height: 58%;
  }
  .h-md-59 {
    height: 59%;
  }
  .h-md-60 {
    height: 60%;
  }
  .h-md-61 {
    height: 61%;
  }
  .h-md-62 {
    height: 62%;
  }
  .h-md-63 {
    height: 63%;
  }
  .h-md-64 {
    height: 64%;
  }
  .h-md-65 {
    height: 65%;
  }
  .h-md-66 {
    height: 66%;
  }
  .h-md-67 {
    height: 67%;
  }
  .h-md-68 {
    height: 68%;
  }
  .h-md-69 {
    height: 69%;
  }
  .h-md-70 {
    height: 70%;
  }
  .h-md-71 {
    height: 71%;
  }
  .h-md-72 {
    height: 72%;
  }
  .h-md-73 {
    height: 73%;
  }
  .h-md-74 {
    height: 74%;
  }
  .h-md-75 {
    height: 75%;
  }
  .h-md-76 {
    height: 76%;
  }
  .h-md-77 {
    height: 77%;
  }
  .h-md-78 {
    height: 78%;
  }
  .h-md-79 {
    height: 79%;
  }
  .h-md-80 {
    height: 80%;
  }
  .h-md-81 {
    height: 81%;
  }
  .h-md-82 {
    height: 82%;
  }
  .h-md-83 {
    height: 83%;
  }
  .h-md-84 {
    height: 84%;
  }
  .h-md-85 {
    height: 85%;
  }
  .h-md-86 {
    height: 86%;
  }
  .h-md-87 {
    height: 87%;
  }
  .h-md-88 {
    height: 88%;
  }
  .h-md-89 {
    height: 89%;
  }
  .h-md-90 {
    height: 90%;
  }
  .h-md-91 {
    height: 91%;
  }
  .h-md-92 {
    height: 92%;
  }
  .h-md-93 {
    height: 93%;
  }
  .h-md-94 {
    height: 94%;
  }
  .h-md-95 {
    height: 95%;
  }
  .h-md-96 {
    height: 96%;
  }
  .h-md-97 {
    height: 97%;
  }
  .h-md-98 {
    height: 98%;
  }
  .h-md-99 {
    height: 99%;
  }
  .h-md-100 {
    height: 100%;
  }
}
@media (max-width: 992px) {
  .w-lg-0 {
    width: 0%;
  }
  .w-lg-1 {
    width: 1%;
  }
  .w-lg-2 {
    width: 2%;
  }
  .w-lg-3 {
    width: 3%;
  }
  .w-lg-4 {
    width: 4%;
  }
  .w-lg-5 {
    width: 5%;
  }
  .w-lg-6 {
    width: 6%;
  }
  .w-lg-7 {
    width: 7%;
  }
  .w-lg-8 {
    width: 8%;
  }
  .w-lg-9 {
    width: 9%;
  }
  .w-lg-10 {
    width: 10%;
  }
  .w-lg-11 {
    width: 11%;
  }
  .w-lg-12 {
    width: 12%;
  }
  .w-lg-13 {
    width: 13%;
  }
  .w-lg-14 {
    width: 14%;
  }
  .w-lg-15 {
    width: 15%;
  }
  .w-lg-16 {
    width: 16%;
  }
  .w-lg-17 {
    width: 17%;
  }
  .w-lg-18 {
    width: 18%;
  }
  .w-lg-19 {
    width: 19%;
  }
  .w-lg-20 {
    width: 20%;
  }
  .w-lg-21 {
    width: 21%;
  }
  .w-lg-22 {
    width: 22%;
  }
  .w-lg-23 {
    width: 23%;
  }
  .w-lg-24 {
    width: 24%;
  }
  .w-lg-25 {
    width: 25%;
  }
  .w-lg-26 {
    width: 26%;
  }
  .w-lg-27 {
    width: 27%;
  }
  .w-lg-28 {
    width: 28%;
  }
  .w-lg-29 {
    width: 29%;
  }
  .w-lg-30 {
    width: 30%;
  }
  .w-lg-31 {
    width: 31%;
  }
  .w-lg-32 {
    width: 32%;
  }
  .w-lg-33 {
    width: 33%;
  }
  .w-lg-34 {
    width: 34%;
  }
  .w-lg-35 {
    width: 35%;
  }
  .w-lg-36 {
    width: 36%;
  }
  .w-lg-37 {
    width: 37%;
  }
  .w-lg-38 {
    width: 38%;
  }
  .w-lg-39 {
    width: 39%;
  }
  .w-lg-40 {
    width: 40%;
  }
  .w-lg-41 {
    width: 41%;
  }
  .w-lg-42 {
    width: 42%;
  }
  .w-lg-43 {
    width: 43%;
  }
  .w-lg-44 {
    width: 44%;
  }
  .w-lg-45 {
    width: 45%;
  }
  .w-lg-46 {
    width: 46%;
  }
  .w-lg-47 {
    width: 47%;
  }
  .w-lg-48 {
    width: 48%;
  }
  .w-lg-49 {
    width: 49%;
  }
  .w-lg-50 {
    width: 50%;
  }
  .w-lg-51 {
    width: 51%;
  }
  .w-lg-52 {
    width: 52%;
  }
  .w-lg-53 {
    width: 53%;
  }
  .w-lg-54 {
    width: 54%;
  }
  .w-lg-55 {
    width: 55%;
  }
  .w-lg-56 {
    width: 56%;
  }
  .w-lg-57 {
    width: 57%;
  }
  .w-lg-58 {
    width: 58%;
  }
  .w-lg-59 {
    width: 59%;
  }
  .w-lg-60 {
    width: 60%;
  }
  .w-lg-61 {
    width: 61%;
  }
  .w-lg-62 {
    width: 62%;
  }
  .w-lg-63 {
    width: 63%;
  }
  .w-lg-64 {
    width: 64%;
  }
  .w-lg-65 {
    width: 65%;
  }
  .w-lg-66 {
    width: 66%;
  }
  .w-lg-67 {
    width: 67%;
  }
  .w-lg-68 {
    width: 68%;
  }
  .w-lg-69 {
    width: 69%;
  }
  .w-lg-70 {
    width: 70%;
  }
  .w-lg-71 {
    width: 71%;
  }
  .w-lg-72 {
    width: 72%;
  }
  .w-lg-73 {
    width: 73%;
  }
  .w-lg-74 {
    width: 74%;
  }
  .w-lg-75 {
    width: 75%;
  }
  .w-lg-76 {
    width: 76%;
  }
  .w-lg-77 {
    width: 77%;
  }
  .w-lg-78 {
    width: 78%;
  }
  .w-lg-79 {
    width: 79%;
  }
  .w-lg-80 {
    width: 80%;
  }
  .w-lg-81 {
    width: 81%;
  }
  .w-lg-82 {
    width: 82%;
  }
  .w-lg-83 {
    width: 83%;
  }
  .w-lg-84 {
    width: 84%;
  }
  .w-lg-85 {
    width: 85%;
  }
  .w-lg-86 {
    width: 86%;
  }
  .w-lg-87 {
    width: 87%;
  }
  .w-lg-88 {
    width: 88%;
  }
  .w-lg-89 {
    width: 89%;
  }
  .w-lg-90 {
    width: 90%;
  }
  .w-lg-91 {
    width: 91%;
  }
  .w-lg-92 {
    width: 92%;
  }
  .w-lg-93 {
    width: 93%;
  }
  .w-lg-94 {
    width: 94%;
  }
  .w-lg-95 {
    width: 95%;
  }
  .w-lg-96 {
    width: 96%;
  }
  .w-lg-97 {
    width: 97%;
  }
  .w-lg-98 {
    width: 98%;
  }
  .w-lg-99 {
    width: 99%;
  }
  .w-lg-100 {
    width: 100%;
  }
  .h-lg-0 {
    height: 0%;
  }
  .h-lg-1 {
    height: 1%;
  }
  .h-lg-2 {
    height: 2%;
  }
  .h-lg-3 {
    height: 3%;
  }
  .h-lg-4 {
    height: 4%;
  }
  .h-lg-5 {
    height: 5%;
  }
  .h-lg-6 {
    height: 6%;
  }
  .h-lg-7 {
    height: 7%;
  }
  .h-lg-8 {
    height: 8%;
  }
  .h-lg-9 {
    height: 9%;
  }
  .h-lg-10 {
    height: 10%;
  }
  .h-lg-11 {
    height: 11%;
  }
  .h-lg-12 {
    height: 12%;
  }
  .h-lg-13 {
    height: 13%;
  }
  .h-lg-14 {
    height: 14%;
  }
  .h-lg-15 {
    height: 15%;
  }
  .h-lg-16 {
    height: 16%;
  }
  .h-lg-17 {
    height: 17%;
  }
  .h-lg-18 {
    height: 18%;
  }
  .h-lg-19 {
    height: 19%;
  }
  .h-lg-20 {
    height: 20%;
  }
  .h-lg-21 {
    height: 21%;
  }
  .h-lg-22 {
    height: 22%;
  }
  .h-lg-23 {
    height: 23%;
  }
  .h-lg-24 {
    height: 24%;
  }
  .h-lg-25 {
    height: 25%;
  }
  .h-lg-26 {
    height: 26%;
  }
  .h-lg-27 {
    height: 27%;
  }
  .h-lg-28 {
    height: 28%;
  }
  .h-lg-29 {
    height: 29%;
  }
  .h-lg-30 {
    height: 30%;
  }
  .h-lg-31 {
    height: 31%;
  }
  .h-lg-32 {
    height: 32%;
  }
  .h-lg-33 {
    height: 33%;
  }
  .h-lg-34 {
    height: 34%;
  }
  .h-lg-35 {
    height: 35%;
  }
  .h-lg-36 {
    height: 36%;
  }
  .h-lg-37 {
    height: 37%;
  }
  .h-lg-38 {
    height: 38%;
  }
  .h-lg-39 {
    height: 39%;
  }
  .h-lg-40 {
    height: 40%;
  }
  .h-lg-41 {
    height: 41%;
  }
  .h-lg-42 {
    height: 42%;
  }
  .h-lg-43 {
    height: 43%;
  }
  .h-lg-44 {
    height: 44%;
  }
  .h-lg-45 {
    height: 45%;
  }
  .h-lg-46 {
    height: 46%;
  }
  .h-lg-47 {
    height: 47%;
  }
  .h-lg-48 {
    height: 48%;
  }
  .h-lg-49 {
    height: 49%;
  }
  .h-lg-50 {
    height: 50%;
  }
  .h-lg-51 {
    height: 51%;
  }
  .h-lg-52 {
    height: 52%;
  }
  .h-lg-53 {
    height: 53%;
  }
  .h-lg-54 {
    height: 54%;
  }
  .h-lg-55 {
    height: 55%;
  }
  .h-lg-56 {
    height: 56%;
  }
  .h-lg-57 {
    height: 57%;
  }
  .h-lg-58 {
    height: 58%;
  }
  .h-lg-59 {
    height: 59%;
  }
  .h-lg-60 {
    height: 60%;
  }
  .h-lg-61 {
    height: 61%;
  }
  .h-lg-62 {
    height: 62%;
  }
  .h-lg-63 {
    height: 63%;
  }
  .h-lg-64 {
    height: 64%;
  }
  .h-lg-65 {
    height: 65%;
  }
  .h-lg-66 {
    height: 66%;
  }
  .h-lg-67 {
    height: 67%;
  }
  .h-lg-68 {
    height: 68%;
  }
  .h-lg-69 {
    height: 69%;
  }
  .h-lg-70 {
    height: 70%;
  }
  .h-lg-71 {
    height: 71%;
  }
  .h-lg-72 {
    height: 72%;
  }
  .h-lg-73 {
    height: 73%;
  }
  .h-lg-74 {
    height: 74%;
  }
  .h-lg-75 {
    height: 75%;
  }
  .h-lg-76 {
    height: 76%;
  }
  .h-lg-77 {
    height: 77%;
  }
  .h-lg-78 {
    height: 78%;
  }
  .h-lg-79 {
    height: 79%;
  }
  .h-lg-80 {
    height: 80%;
  }
  .h-lg-81 {
    height: 81%;
  }
  .h-lg-82 {
    height: 82%;
  }
  .h-lg-83 {
    height: 83%;
  }
  .h-lg-84 {
    height: 84%;
  }
  .h-lg-85 {
    height: 85%;
  }
  .h-lg-86 {
    height: 86%;
  }
  .h-lg-87 {
    height: 87%;
  }
  .h-lg-88 {
    height: 88%;
  }
  .h-lg-89 {
    height: 89%;
  }
  .h-lg-90 {
    height: 90%;
  }
  .h-lg-91 {
    height: 91%;
  }
  .h-lg-92 {
    height: 92%;
  }
  .h-lg-93 {
    height: 93%;
  }
  .h-lg-94 {
    height: 94%;
  }
  .h-lg-95 {
    height: 95%;
  }
  .h-lg-96 {
    height: 96%;
  }
  .h-lg-97 {
    height: 97%;
  }
  .h-lg-98 {
    height: 98%;
  }
  .h-lg-99 {
    height: 99%;
  }
  .h-lg-100 {
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .w-xl-0 {
    width: 0%;
  }
  .w-xl-1 {
    width: 1%;
  }
  .w-xl-2 {
    width: 2%;
  }
  .w-xl-3 {
    width: 3%;
  }
  .w-xl-4 {
    width: 4%;
  }
  .w-xl-5 {
    width: 5%;
  }
  .w-xl-6 {
    width: 6%;
  }
  .w-xl-7 {
    width: 7%;
  }
  .w-xl-8 {
    width: 8%;
  }
  .w-xl-9 {
    width: 9%;
  }
  .w-xl-10 {
    width: 10%;
  }
  .w-xl-11 {
    width: 11%;
  }
  .w-xl-12 {
    width: 12%;
  }
  .w-xl-13 {
    width: 13%;
  }
  .w-xl-14 {
    width: 14%;
  }
  .w-xl-15 {
    width: 15%;
  }
  .w-xl-16 {
    width: 16%;
  }
  .w-xl-17 {
    width: 17%;
  }
  .w-xl-18 {
    width: 18%;
  }
  .w-xl-19 {
    width: 19%;
  }
  .w-xl-20 {
    width: 20%;
  }
  .w-xl-21 {
    width: 21%;
  }
  .w-xl-22 {
    width: 22%;
  }
  .w-xl-23 {
    width: 23%;
  }
  .w-xl-24 {
    width: 24%;
  }
  .w-xl-25 {
    width: 25%;
  }
  .w-xl-26 {
    width: 26%;
  }
  .w-xl-27 {
    width: 27%;
  }
  .w-xl-28 {
    width: 28%;
  }
  .w-xl-29 {
    width: 29%;
  }
  .w-xl-30 {
    width: 30%;
  }
  .w-xl-31 {
    width: 31%;
  }
  .w-xl-32 {
    width: 32%;
  }
  .w-xl-33 {
    width: 33%;
  }
  .w-xl-34 {
    width: 34%;
  }
  .w-xl-35 {
    width: 35%;
  }
  .w-xl-36 {
    width: 36%;
  }
  .w-xl-37 {
    width: 37%;
  }
  .w-xl-38 {
    width: 38%;
  }
  .w-xl-39 {
    width: 39%;
  }
  .w-xl-40 {
    width: 40%;
  }
  .w-xl-41 {
    width: 41%;
  }
  .w-xl-42 {
    width: 42%;
  }
  .w-xl-43 {
    width: 43%;
  }
  .w-xl-44 {
    width: 44%;
  }
  .w-xl-45 {
    width: 45%;
  }
  .w-xl-46 {
    width: 46%;
  }
  .w-xl-47 {
    width: 47%;
  }
  .w-xl-48 {
    width: 48%;
  }
  .w-xl-49 {
    width: 49%;
  }
  .w-xl-50 {
    width: 50%;
  }
  .w-xl-51 {
    width: 51%;
  }
  .w-xl-52 {
    width: 52%;
  }
  .w-xl-53 {
    width: 53%;
  }
  .w-xl-54 {
    width: 54%;
  }
  .w-xl-55 {
    width: 55%;
  }
  .w-xl-56 {
    width: 56%;
  }
  .w-xl-57 {
    width: 57%;
  }
  .w-xl-58 {
    width: 58%;
  }
  .w-xl-59 {
    width: 59%;
  }
  .w-xl-60 {
    width: 60%;
  }
  .w-xl-61 {
    width: 61%;
  }
  .w-xl-62 {
    width: 62%;
  }
  .w-xl-63 {
    width: 63%;
  }
  .w-xl-64 {
    width: 64%;
  }
  .w-xl-65 {
    width: 65%;
  }
  .w-xl-66 {
    width: 66%;
  }
  .w-xl-67 {
    width: 67%;
  }
  .w-xl-68 {
    width: 68%;
  }
  .w-xl-69 {
    width: 69%;
  }
  .w-xl-70 {
    width: 70%;
  }
  .w-xl-71 {
    width: 71%;
  }
  .w-xl-72 {
    width: 72%;
  }
  .w-xl-73 {
    width: 73%;
  }
  .w-xl-74 {
    width: 74%;
  }
  .w-xl-75 {
    width: 75%;
  }
  .w-xl-76 {
    width: 76%;
  }
  .w-xl-77 {
    width: 77%;
  }
  .w-xl-78 {
    width: 78%;
  }
  .w-xl-79 {
    width: 79%;
  }
  .w-xl-80 {
    width: 80%;
  }
  .w-xl-81 {
    width: 81%;
  }
  .w-xl-82 {
    width: 82%;
  }
  .w-xl-83 {
    width: 83%;
  }
  .w-xl-84 {
    width: 84%;
  }
  .w-xl-85 {
    width: 85%;
  }
  .w-xl-86 {
    width: 86%;
  }
  .w-xl-87 {
    width: 87%;
  }
  .w-xl-88 {
    width: 88%;
  }
  .w-xl-89 {
    width: 89%;
  }
  .w-xl-90 {
    width: 90%;
  }
  .w-xl-91 {
    width: 91%;
  }
  .w-xl-92 {
    width: 92%;
  }
  .w-xl-93 {
    width: 93%;
  }
  .w-xl-94 {
    width: 94%;
  }
  .w-xl-95 {
    width: 95%;
  }
  .w-xl-96 {
    width: 96%;
  }
  .w-xl-97 {
    width: 97%;
  }
  .w-xl-98 {
    width: 98%;
  }
  .w-xl-99 {
    width: 99%;
  }
  .w-xl-100 {
    width: 100%;
  }
  .h-xl-0 {
    height: 0%;
  }
  .h-xl-1 {
    height: 1%;
  }
  .h-xl-2 {
    height: 2%;
  }
  .h-xl-3 {
    height: 3%;
  }
  .h-xl-4 {
    height: 4%;
  }
  .h-xl-5 {
    height: 5%;
  }
  .h-xl-6 {
    height: 6%;
  }
  .h-xl-7 {
    height: 7%;
  }
  .h-xl-8 {
    height: 8%;
  }
  .h-xl-9 {
    height: 9%;
  }
  .h-xl-10 {
    height: 10%;
  }
  .h-xl-11 {
    height: 11%;
  }
  .h-xl-12 {
    height: 12%;
  }
  .h-xl-13 {
    height: 13%;
  }
  .h-xl-14 {
    height: 14%;
  }
  .h-xl-15 {
    height: 15%;
  }
  .h-xl-16 {
    height: 16%;
  }
  .h-xl-17 {
    height: 17%;
  }
  .h-xl-18 {
    height: 18%;
  }
  .h-xl-19 {
    height: 19%;
  }
  .h-xl-20 {
    height: 20%;
  }
  .h-xl-21 {
    height: 21%;
  }
  .h-xl-22 {
    height: 22%;
  }
  .h-xl-23 {
    height: 23%;
  }
  .h-xl-24 {
    height: 24%;
  }
  .h-xl-25 {
    height: 25%;
  }
  .h-xl-26 {
    height: 26%;
  }
  .h-xl-27 {
    height: 27%;
  }
  .h-xl-28 {
    height: 28%;
  }
  .h-xl-29 {
    height: 29%;
  }
  .h-xl-30 {
    height: 30%;
  }
  .h-xl-31 {
    height: 31%;
  }
  .h-xl-32 {
    height: 32%;
  }
  .h-xl-33 {
    height: 33%;
  }
  .h-xl-34 {
    height: 34%;
  }
  .h-xl-35 {
    height: 35%;
  }
  .h-xl-36 {
    height: 36%;
  }
  .h-xl-37 {
    height: 37%;
  }
  .h-xl-38 {
    height: 38%;
  }
  .h-xl-39 {
    height: 39%;
  }
  .h-xl-40 {
    height: 40%;
  }
  .h-xl-41 {
    height: 41%;
  }
  .h-xl-42 {
    height: 42%;
  }
  .h-xl-43 {
    height: 43%;
  }
  .h-xl-44 {
    height: 44%;
  }
  .h-xl-45 {
    height: 45%;
  }
  .h-xl-46 {
    height: 46%;
  }
  .h-xl-47 {
    height: 47%;
  }
  .h-xl-48 {
    height: 48%;
  }
  .h-xl-49 {
    height: 49%;
  }
  .h-xl-50 {
    height: 50%;
  }
  .h-xl-51 {
    height: 51%;
  }
  .h-xl-52 {
    height: 52%;
  }
  .h-xl-53 {
    height: 53%;
  }
  .h-xl-54 {
    height: 54%;
  }
  .h-xl-55 {
    height: 55%;
  }
  .h-xl-56 {
    height: 56%;
  }
  .h-xl-57 {
    height: 57%;
  }
  .h-xl-58 {
    height: 58%;
  }
  .h-xl-59 {
    height: 59%;
  }
  .h-xl-60 {
    height: 60%;
  }
  .h-xl-61 {
    height: 61%;
  }
  .h-xl-62 {
    height: 62%;
  }
  .h-xl-63 {
    height: 63%;
  }
  .h-xl-64 {
    height: 64%;
  }
  .h-xl-65 {
    height: 65%;
  }
  .h-xl-66 {
    height: 66%;
  }
  .h-xl-67 {
    height: 67%;
  }
  .h-xl-68 {
    height: 68%;
  }
  .h-xl-69 {
    height: 69%;
  }
  .h-xl-70 {
    height: 70%;
  }
  .h-xl-71 {
    height: 71%;
  }
  .h-xl-72 {
    height: 72%;
  }
  .h-xl-73 {
    height: 73%;
  }
  .h-xl-74 {
    height: 74%;
  }
  .h-xl-75 {
    height: 75%;
  }
  .h-xl-76 {
    height: 76%;
  }
  .h-xl-77 {
    height: 77%;
  }
  .h-xl-78 {
    height: 78%;
  }
  .h-xl-79 {
    height: 79%;
  }
  .h-xl-80 {
    height: 80%;
  }
  .h-xl-81 {
    height: 81%;
  }
  .h-xl-82 {
    height: 82%;
  }
  .h-xl-83 {
    height: 83%;
  }
  .h-xl-84 {
    height: 84%;
  }
  .h-xl-85 {
    height: 85%;
  }
  .h-xl-86 {
    height: 86%;
  }
  .h-xl-87 {
    height: 87%;
  }
  .h-xl-88 {
    height: 88%;
  }
  .h-xl-89 {
    height: 89%;
  }
  .h-xl-90 {
    height: 90%;
  }
  .h-xl-91 {
    height: 91%;
  }
  .h-xl-92 {
    height: 92%;
  }
  .h-xl-93 {
    height: 93%;
  }
  .h-xl-94 {
    height: 94%;
  }
  .h-xl-95 {
    height: 95%;
  }
  .h-xl-96 {
    height: 96%;
  }
  .h-xl-97 {
    height: 97%;
  }
  .h-xl-98 {
    height: 98%;
  }
  .h-xl-99 {
    height: 99%;
  }
  .h-xl-100 {
    height: 100%;
  }
}
