@media (max-width: 992px) {
  .p-lg-0px {
    padding: 0px;
  }
  .p-lg-1px {
    padding: 1px;
  }
  .p-lg-2px {
    padding: 2px;
  }
  .p-lg-3px {
    padding: 3px;
  }
  .p-lg-4px {
    padding: 4px;
  }
  .p-lg-5px {
    padding: 5px;
  }
  .p-lg-6px {
    padding: 6px;
  }
  .p-lg-7px {
    padding: 7px;
  }
  .p-lg-8px {
    padding: 8px;
  }
  .p-lg-9px {
    padding: 9px;
  }
  .p-lg-10px {
    padding: 10px;
  }
  .p-lg-11px {
    padding: 11px;
  }
  .p-lg-12px {
    padding: 12px;
  }
  .p-lg-13px {
    padding: 13px;
  }
  .p-lg-14px {
    padding: 14px;
  }
  .p-lg-15px {
    padding: 15px;
  }
  .p-lg-16px {
    padding: 16px;
  }
  .p-lg-17px {
    padding: 17px;
  }
  .p-lg-18px {
    padding: 18px;
  }
  .p-lg-19px {
    padding: 19px;
  }
  .p-lg-20px {
    padding: 20px;
  }
  .p-lg-21px {
    padding: 21px;
  }
  .p-lg-22px {
    padding: 22px;
  }
  .p-lg-23px {
    padding: 23px;
  }
  .p-lg-24px {
    padding: 24px;
  }
  .p-lg-25px {
    padding: 25px;
  }
  .p-lg-26px {
    padding: 26px;
  }
  .p-lg-27px {
    padding: 27px;
  }
  .p-lg-28px {
    padding: 28px;
  }
  .p-lg-29px {
    padding: 29px;
  }
  .p-lg-30px {
    padding: 30px;
  }
  .p-lg-31px {
    padding: 31px;
  }
  .p-lg-32px {
    padding: 32px;
  }
  .p-lg-33px {
    padding: 33px;
  }
  .p-lg-34px {
    padding: 34px;
  }
  .p-lg-35px {
    padding: 35px;
  }
  .p-lg-36px {
    padding: 36px;
  }
  .p-lg-37px {
    padding: 37px;
  }
  .p-lg-38px {
    padding: 38px;
  }
  .p-lg-39px {
    padding: 39px;
  }
  .p-lg-40px {
    padding: 40px;
  }
  .p-lg-41px {
    padding: 41px;
  }
  .p-lg-42px {
    padding: 42px;
  }
  .p-lg-43px {
    padding: 43px;
  }
  .p-lg-44px {
    padding: 44px;
  }
  .p-lg-45px {
    padding: 45px;
  }
  .p-lg-46px {
    padding: 46px;
  }
  .p-lg-47px {
    padding: 47px;
  }
  .p-lg-48px {
    padding: 48px;
  }
  .p-lg-49px {
    padding: 49px;
  }
  .p-lg-50px {
    padding: 50px;
  }
  .p-lg-51px {
    padding: 51px;
  }
  .p-lg-52px {
    padding: 52px;
  }
  .p-lg-53px {
    padding: 53px;
  }
  .p-lg-54px {
    padding: 54px;
  }
  .p-lg-55px {
    padding: 55px;
  }
  .p-lg-56px {
    padding: 56px;
  }
  .p-lg-57px {
    padding: 57px;
  }
  .p-lg-58px {
    padding: 58px;
  }
  .p-lg-59px {
    padding: 59px;
  }
  .p-lg-60px {
    padding: 60px;
  }
  .p-lg-61px {
    padding: 61px;
  }
  .p-lg-62px {
    padding: 62px;
  }
  .p-lg-63px {
    padding: 63px;
  }
  .p-lg-64px {
    padding: 64px;
  }
  .p-lg-65px {
    padding: 65px;
  }
  .p-lg-66px {
    padding: 66px;
  }
  .p-lg-67px {
    padding: 67px;
  }
  .p-lg-68px {
    padding: 68px;
  }
  .p-lg-69px {
    padding: 69px;
  }
  .p-lg-70px {
    padding: 70px;
  }
  .p-lg-71px {
    padding: 71px;
  }
  .p-lg-72px {
    padding: 72px;
  }
  .p-lg-73px {
    padding: 73px;
  }
  .p-lg-74px {
    padding: 74px;
  }
  .p-lg-75px {
    padding: 75px;
  }
  .p-lg-76px {
    padding: 76px;
  }
  .p-lg-77px {
    padding: 77px;
  }
  .p-lg-78px {
    padding: 78px;
  }
  .p-lg-79px {
    padding: 79px;
  }
  .p-lg-80px {
    padding: 80px;
  }
  .p-lg-81px {
    padding: 81px;
  }
  .p-lg-82px {
    padding: 82px;
  }
  .p-lg-83px {
    padding: 83px;
  }
  .p-lg-84px {
    padding: 84px;
  }
  .p-lg-85px {
    padding: 85px;
  }
  .p-lg-86px {
    padding: 86px;
  }
  .p-lg-87px {
    padding: 87px;
  }
  .p-lg-88px {
    padding: 88px;
  }
  .p-lg-89px {
    padding: 89px;
  }
  .p-lg-90px {
    padding: 90px;
  }
  .p-lg-91px {
    padding: 91px;
  }
  .p-lg-92px {
    padding: 92px;
  }
  .p-lg-93px {
    padding: 93px;
  }
  .p-lg-94px {
    padding: 94px;
  }
  .p-lg-95px {
    padding: 95px;
  }
  .p-lg-96px {
    padding: 96px;
  }
  .p-lg-97px {
    padding: 97px;
  }
  .p-lg-98px {
    padding: 98px;
  }
  .p-lg-99px {
    padding: 99px;
  }
  .p-lg-100px {
    padding: 100px;
  }
  .p-lg-101px {
    padding: 101px;
  }
  .p-lg-102px {
    padding: 102px;
  }
  .p-lg-103px {
    padding: 103px;
  }
  .p-lg-104px {
    padding: 104px;
  }
  .p-lg-105px {
    padding: 105px;
  }
  .p-lg-106px {
    padding: 106px;
  }
  .p-lg-107px {
    padding: 107px;
  }
  .p-lg-108px {
    padding: 108px;
  }
  .p-lg-109px {
    padding: 109px;
  }
  .p-lg-110px {
    padding: 110px;
  }
  .p-lg-111px {
    padding: 111px;
  }
  .p-lg-112px {
    padding: 112px;
  }
  .p-lg-113px {
    padding: 113px;
  }
  .p-lg-114px {
    padding: 114px;
  }
  .p-lg-115px {
    padding: 115px;
  }
  .p-lg-116px {
    padding: 116px;
  }
  .p-lg-117px {
    padding: 117px;
  }
  .p-lg-118px {
    padding: 118px;
  }
  .p-lg-119px {
    padding: 119px;
  }
  .p-lg-120px {
    padding: 120px;
  }
  .p-lg-121px {
    padding: 121px;
  }
  .p-lg-122px {
    padding: 122px;
  }
  .p-lg-123px {
    padding: 123px;
  }
  .p-lg-124px {
    padding: 124px;
  }
  .p-lg-125px {
    padding: 125px;
  }
  .p-lg-126px {
    padding: 126px;
  }
  .p-lg-127px {
    padding: 127px;
  }
  .p-lg-128px {
    padding: 128px;
  }
  .p-lg-129px {
    padding: 129px;
  }
  .p-lg-130px {
    padding: 130px;
  }
  .p-lg-131px {
    padding: 131px;
  }
  .p-lg-132px {
    padding: 132px;
  }
  .p-lg-133px {
    padding: 133px;
  }
  .p-lg-134px {
    padding: 134px;
  }
  .p-lg-135px {
    padding: 135px;
  }
  .p-lg-136px {
    padding: 136px;
  }
  .p-lg-137px {
    padding: 137px;
  }
  .p-lg-138px {
    padding: 138px;
  }
  .p-lg-139px {
    padding: 139px;
  }
  .p-lg-140px {
    padding: 140px;
  }
  .p-lg-141px {
    padding: 141px;
  }
  .p-lg-142px {
    padding: 142px;
  }
  .p-lg-143px {
    padding: 143px;
  }
  .p-lg-144px {
    padding: 144px;
  }
  .p-lg-145px {
    padding: 145px;
  }
  .p-lg-146px {
    padding: 146px;
  }
  .p-lg-147px {
    padding: 147px;
  }
  .p-lg-148px {
    padding: 148px;
  }
  .p-lg-149px {
    padding: 149px;
  }
  .p-lg-150px {
    padding: 150px;
  }
  .p-lg-151px {
    padding: 151px;
  }
  .p-lg-152px {
    padding: 152px;
  }
  .p-lg-153px {
    padding: 153px;
  }
  .p-lg-154px {
    padding: 154px;
  }
  .p-lg-155px {
    padding: 155px;
  }
  .p-lg-156px {
    padding: 156px;
  }
  .p-lg-157px {
    padding: 157px;
  }
  .p-lg-158px {
    padding: 158px;
  }
  .p-lg-159px {
    padding: 159px;
  }
  .p-lg-160px {
    padding: 160px;
  }
  .p-lg-161px {
    padding: 161px;
  }
  .p-lg-162px {
    padding: 162px;
  }
  .p-lg-163px {
    padding: 163px;
  }
  .p-lg-164px {
    padding: 164px;
  }
  .p-lg-165px {
    padding: 165px;
  }
  .p-lg-166px {
    padding: 166px;
  }
  .p-lg-167px {
    padding: 167px;
  }
  .p-lg-168px {
    padding: 168px;
  }
  .p-lg-169px {
    padding: 169px;
  }
  .p-lg-170px {
    padding: 170px;
  }
  .p-lg-171px {
    padding: 171px;
  }
  .p-lg-172px {
    padding: 172px;
  }
  .p-lg-173px {
    padding: 173px;
  }
  .p-lg-174px {
    padding: 174px;
  }
  .p-lg-175px {
    padding: 175px;
  }
  .p-lg-176px {
    padding: 176px;
  }
  .p-lg-177px {
    padding: 177px;
  }
  .p-lg-178px {
    padding: 178px;
  }
  .p-lg-179px {
    padding: 179px;
  }
  .p-lg-180px {
    padding: 180px;
  }
  .p-lg-181px {
    padding: 181px;
  }
  .p-lg-182px {
    padding: 182px;
  }
  .p-lg-183px {
    padding: 183px;
  }
  .p-lg-184px {
    padding: 184px;
  }
  .p-lg-185px {
    padding: 185px;
  }
  .p-lg-186px {
    padding: 186px;
  }
  .p-lg-187px {
    padding: 187px;
  }
  .p-lg-188px {
    padding: 188px;
  }
  .p-lg-189px {
    padding: 189px;
  }
  .p-lg-190px {
    padding: 190px;
  }
  .p-lg-191px {
    padding: 191px;
  }
  .p-lg-192px {
    padding: 192px;
  }
  .p-lg-193px {
    padding: 193px;
  }
  .p-lg-194px {
    padding: 194px;
  }
  .p-lg-195px {
    padding: 195px;
  }
  .p-lg-196px {
    padding: 196px;
  }
  .p-lg-197px {
    padding: 197px;
  }
  .p-lg-198px {
    padding: 198px;
  }
  .p-lg-199px {
    padding: 199px;
  }
  .p-lg-200px {
    padding: 200px;
  }
  .pl-lg-0px {
    padding-left: 0px;
  }
  .pl-lg-1px {
    padding-left: 1px;
  }
  .pl-lg-2px {
    padding-left: 2px;
  }
  .pl-lg-3px {
    padding-left: 3px;
  }
  .pl-lg-4px {
    padding-left: 4px;
  }
  .pl-lg-5px {
    padding-left: 5px;
  }
  .pl-lg-6px {
    padding-left: 6px;
  }
  .pl-lg-7px {
    padding-left: 7px;
  }
  .pl-lg-8px {
    padding-left: 8px;
  }
  .pl-lg-9px {
    padding-left: 9px;
  }
  .pl-lg-10px {
    padding-left: 10px;
  }
  .pl-lg-11px {
    padding-left: 11px;
  }
  .pl-lg-12px {
    padding-left: 12px;
  }
  .pl-lg-13px {
    padding-left: 13px;
  }
  .pl-lg-14px {
    padding-left: 14px;
  }
  .pl-lg-15px {
    padding-left: 15px;
  }
  .pl-lg-16px {
    padding-left: 16px;
  }
  .pl-lg-17px {
    padding-left: 17px;
  }
  .pl-lg-18px {
    padding-left: 18px;
  }
  .pl-lg-19px {
    padding-left: 19px;
  }
  .pl-lg-20px {
    padding-left: 20px;
  }
  .pl-lg-21px {
    padding-left: 21px;
  }
  .pl-lg-22px {
    padding-left: 22px;
  }
  .pl-lg-23px {
    padding-left: 23px;
  }
  .pl-lg-24px {
    padding-left: 24px;
  }
  .pl-lg-25px {
    padding-left: 25px;
  }
  .pl-lg-26px {
    padding-left: 26px;
  }
  .pl-lg-27px {
    padding-left: 27px;
  }
  .pl-lg-28px {
    padding-left: 28px;
  }
  .pl-lg-29px {
    padding-left: 29px;
  }
  .pl-lg-30px {
    padding-left: 30px;
  }
  .pl-lg-31px {
    padding-left: 31px;
  }
  .pl-lg-32px {
    padding-left: 32px;
  }
  .pl-lg-33px {
    padding-left: 33px;
  }
  .pl-lg-34px {
    padding-left: 34px;
  }
  .pl-lg-35px {
    padding-left: 35px;
  }
  .pl-lg-36px {
    padding-left: 36px;
  }
  .pl-lg-37px {
    padding-left: 37px;
  }
  .pl-lg-38px {
    padding-left: 38px;
  }
  .pl-lg-39px {
    padding-left: 39px;
  }
  .pl-lg-40px {
    padding-left: 40px;
  }
  .pl-lg-41px {
    padding-left: 41px;
  }
  .pl-lg-42px {
    padding-left: 42px;
  }
  .pl-lg-43px {
    padding-left: 43px;
  }
  .pl-lg-44px {
    padding-left: 44px;
  }
  .pl-lg-45px {
    padding-left: 45px;
  }
  .pl-lg-46px {
    padding-left: 46px;
  }
  .pl-lg-47px {
    padding-left: 47px;
  }
  .pl-lg-48px {
    padding-left: 48px;
  }
  .pl-lg-49px {
    padding-left: 49px;
  }
  .pl-lg-50px {
    padding-left: 50px;
  }
  .pl-lg-51px {
    padding-left: 51px;
  }
  .pl-lg-52px {
    padding-left: 52px;
  }
  .pl-lg-53px {
    padding-left: 53px;
  }
  .pl-lg-54px {
    padding-left: 54px;
  }
  .pl-lg-55px {
    padding-left: 55px;
  }
  .pl-lg-56px {
    padding-left: 56px;
  }
  .pl-lg-57px {
    padding-left: 57px;
  }
  .pl-lg-58px {
    padding-left: 58px;
  }
  .pl-lg-59px {
    padding-left: 59px;
  }
  .pl-lg-60px {
    padding-left: 60px;
  }
  .pl-lg-61px {
    padding-left: 61px;
  }
  .pl-lg-62px {
    padding-left: 62px;
  }
  .pl-lg-63px {
    padding-left: 63px;
  }
  .pl-lg-64px {
    padding-left: 64px;
  }
  .pl-lg-65px {
    padding-left: 65px;
  }
  .pl-lg-66px {
    padding-left: 66px;
  }
  .pl-lg-67px {
    padding-left: 67px;
  }
  .pl-lg-68px {
    padding-left: 68px;
  }
  .pl-lg-69px {
    padding-left: 69px;
  }
  .pl-lg-70px {
    padding-left: 70px;
  }
  .pl-lg-71px {
    padding-left: 71px;
  }
  .pl-lg-72px {
    padding-left: 72px;
  }
  .pl-lg-73px {
    padding-left: 73px;
  }
  .pl-lg-74px {
    padding-left: 74px;
  }
  .pl-lg-75px {
    padding-left: 75px;
  }
  .pl-lg-76px {
    padding-left: 76px;
  }
  .pl-lg-77px {
    padding-left: 77px;
  }
  .pl-lg-78px {
    padding-left: 78px;
  }
  .pl-lg-79px {
    padding-left: 79px;
  }
  .pl-lg-80px {
    padding-left: 80px;
  }
  .pl-lg-81px {
    padding-left: 81px;
  }
  .pl-lg-82px {
    padding-left: 82px;
  }
  .pl-lg-83px {
    padding-left: 83px;
  }
  .pl-lg-84px {
    padding-left: 84px;
  }
  .pl-lg-85px {
    padding-left: 85px;
  }
  .pl-lg-86px {
    padding-left: 86px;
  }
  .pl-lg-87px {
    padding-left: 87px;
  }
  .pl-lg-88px {
    padding-left: 88px;
  }
  .pl-lg-89px {
    padding-left: 89px;
  }
  .pl-lg-90px {
    padding-left: 90px;
  }
  .pl-lg-91px {
    padding-left: 91px;
  }
  .pl-lg-92px {
    padding-left: 92px;
  }
  .pl-lg-93px {
    padding-left: 93px;
  }
  .pl-lg-94px {
    padding-left: 94px;
  }
  .pl-lg-95px {
    padding-left: 95px;
  }
  .pl-lg-96px {
    padding-left: 96px;
  }
  .pl-lg-97px {
    padding-left: 97px;
  }
  .pl-lg-98px {
    padding-left: 98px;
  }
  .pl-lg-99px {
    padding-left: 99px;
  }
  .pl-lg-100px {
    padding-left: 100px;
  }
  .pl-lg-101px {
    padding-left: 101px;
  }
  .pl-lg-102px {
    padding-left: 102px;
  }
  .pl-lg-103px {
    padding-left: 103px;
  }
  .pl-lg-104px {
    padding-left: 104px;
  }
  .pl-lg-105px {
    padding-left: 105px;
  }
  .pl-lg-106px {
    padding-left: 106px;
  }
  .pl-lg-107px {
    padding-left: 107px;
  }
  .pl-lg-108px {
    padding-left: 108px;
  }
  .pl-lg-109px {
    padding-left: 109px;
  }
  .pl-lg-110px {
    padding-left: 110px;
  }
  .pl-lg-111px {
    padding-left: 111px;
  }
  .pl-lg-112px {
    padding-left: 112px;
  }
  .pl-lg-113px {
    padding-left: 113px;
  }
  .pl-lg-114px {
    padding-left: 114px;
  }
  .pl-lg-115px {
    padding-left: 115px;
  }
  .pl-lg-116px {
    padding-left: 116px;
  }
  .pl-lg-117px {
    padding-left: 117px;
  }
  .pl-lg-118px {
    padding-left: 118px;
  }
  .pl-lg-119px {
    padding-left: 119px;
  }
  .pl-lg-120px {
    padding-left: 120px;
  }
  .pl-lg-121px {
    padding-left: 121px;
  }
  .pl-lg-122px {
    padding-left: 122px;
  }
  .pl-lg-123px {
    padding-left: 123px;
  }
  .pl-lg-124px {
    padding-left: 124px;
  }
  .pl-lg-125px {
    padding-left: 125px;
  }
  .pl-lg-126px {
    padding-left: 126px;
  }
  .pl-lg-127px {
    padding-left: 127px;
  }
  .pl-lg-128px {
    padding-left: 128px;
  }
  .pl-lg-129px {
    padding-left: 129px;
  }
  .pl-lg-130px {
    padding-left: 130px;
  }
  .pl-lg-131px {
    padding-left: 131px;
  }
  .pl-lg-132px {
    padding-left: 132px;
  }
  .pl-lg-133px {
    padding-left: 133px;
  }
  .pl-lg-134px {
    padding-left: 134px;
  }
  .pl-lg-135px {
    padding-left: 135px;
  }
  .pl-lg-136px {
    padding-left: 136px;
  }
  .pl-lg-137px {
    padding-left: 137px;
  }
  .pl-lg-138px {
    padding-left: 138px;
  }
  .pl-lg-139px {
    padding-left: 139px;
  }
  .pl-lg-140px {
    padding-left: 140px;
  }
  .pl-lg-141px {
    padding-left: 141px;
  }
  .pl-lg-142px {
    padding-left: 142px;
  }
  .pl-lg-143px {
    padding-left: 143px;
  }
  .pl-lg-144px {
    padding-left: 144px;
  }
  .pl-lg-145px {
    padding-left: 145px;
  }
  .pl-lg-146px {
    padding-left: 146px;
  }
  .pl-lg-147px {
    padding-left: 147px;
  }
  .pl-lg-148px {
    padding-left: 148px;
  }
  .pl-lg-149px {
    padding-left: 149px;
  }
  .pl-lg-150px {
    padding-left: 150px;
  }
  .pl-lg-151px {
    padding-left: 151px;
  }
  .pl-lg-152px {
    padding-left: 152px;
  }
  .pl-lg-153px {
    padding-left: 153px;
  }
  .pl-lg-154px {
    padding-left: 154px;
  }
  .pl-lg-155px {
    padding-left: 155px;
  }
  .pl-lg-156px {
    padding-left: 156px;
  }
  .pl-lg-157px {
    padding-left: 157px;
  }
  .pl-lg-158px {
    padding-left: 158px;
  }
  .pl-lg-159px {
    padding-left: 159px;
  }
  .pl-lg-160px {
    padding-left: 160px;
  }
  .pl-lg-161px {
    padding-left: 161px;
  }
  .pl-lg-162px {
    padding-left: 162px;
  }
  .pl-lg-163px {
    padding-left: 163px;
  }
  .pl-lg-164px {
    padding-left: 164px;
  }
  .pl-lg-165px {
    padding-left: 165px;
  }
  .pl-lg-166px {
    padding-left: 166px;
  }
  .pl-lg-167px {
    padding-left: 167px;
  }
  .pl-lg-168px {
    padding-left: 168px;
  }
  .pl-lg-169px {
    padding-left: 169px;
  }
  .pl-lg-170px {
    padding-left: 170px;
  }
  .pl-lg-171px {
    padding-left: 171px;
  }
  .pl-lg-172px {
    padding-left: 172px;
  }
  .pl-lg-173px {
    padding-left: 173px;
  }
  .pl-lg-174px {
    padding-left: 174px;
  }
  .pl-lg-175px {
    padding-left: 175px;
  }
  .pl-lg-176px {
    padding-left: 176px;
  }
  .pl-lg-177px {
    padding-left: 177px;
  }
  .pl-lg-178px {
    padding-left: 178px;
  }
  .pl-lg-179px {
    padding-left: 179px;
  }
  .pl-lg-180px {
    padding-left: 180px;
  }
  .pl-lg-181px {
    padding-left: 181px;
  }
  .pl-lg-182px {
    padding-left: 182px;
  }
  .pl-lg-183px {
    padding-left: 183px;
  }
  .pl-lg-184px {
    padding-left: 184px;
  }
  .pl-lg-185px {
    padding-left: 185px;
  }
  .pl-lg-186px {
    padding-left: 186px;
  }
  .pl-lg-187px {
    padding-left: 187px;
  }
  .pl-lg-188px {
    padding-left: 188px;
  }
  .pl-lg-189px {
    padding-left: 189px;
  }
  .pl-lg-190px {
    padding-left: 190px;
  }
  .pl-lg-191px {
    padding-left: 191px;
  }
  .pl-lg-192px {
    padding-left: 192px;
  }
  .pl-lg-193px {
    padding-left: 193px;
  }
  .pl-lg-194px {
    padding-left: 194px;
  }
  .pl-lg-195px {
    padding-left: 195px;
  }
  .pl-lg-196px {
    padding-left: 196px;
  }
  .pl-lg-197px {
    padding-left: 197px;
  }
  .pl-lg-198px {
    padding-left: 198px;
  }
  .pl-lg-199px {
    padding-left: 199px;
  }
  .pl-lg-200px {
    padding-left: 200px;
  }
  .pr-lg-0px {
    padding-right: 0px;
  }
  .pr-lg-1px {
    padding-right: 1px;
  }
  .pr-lg-2px {
    padding-right: 2px;
  }
  .pr-lg-3px {
    padding-right: 3px;
  }
  .pr-lg-4px {
    padding-right: 4px;
  }
  .pr-lg-5px {
    padding-right: 5px;
  }
  .pr-lg-6px {
    padding-right: 6px;
  }
  .pr-lg-7px {
    padding-right: 7px;
  }
  .pr-lg-8px {
    padding-right: 8px;
  }
  .pr-lg-9px {
    padding-right: 9px;
  }
  .pr-lg-10px {
    padding-right: 10px;
  }
  .pr-lg-11px {
    padding-right: 11px;
  }
  .pr-lg-12px {
    padding-right: 12px;
  }
  .pr-lg-13px {
    padding-right: 13px;
  }
  .pr-lg-14px {
    padding-right: 14px;
  }
  .pr-lg-15px {
    padding-right: 15px;
  }
  .pr-lg-16px {
    padding-right: 16px;
  }
  .pr-lg-17px {
    padding-right: 17px;
  }
  .pr-lg-18px {
    padding-right: 18px;
  }
  .pr-lg-19px {
    padding-right: 19px;
  }
  .pr-lg-20px {
    padding-right: 20px;
  }
  .pr-lg-21px {
    padding-right: 21px;
  }
  .pr-lg-22px {
    padding-right: 22px;
  }
  .pr-lg-23px {
    padding-right: 23px;
  }
  .pr-lg-24px {
    padding-right: 24px;
  }
  .pr-lg-25px {
    padding-right: 25px;
  }
  .pr-lg-26px {
    padding-right: 26px;
  }
  .pr-lg-27px {
    padding-right: 27px;
  }
  .pr-lg-28px {
    padding-right: 28px;
  }
  .pr-lg-29px {
    padding-right: 29px;
  }
  .pr-lg-30px {
    padding-right: 30px;
  }
  .pr-lg-31px {
    padding-right: 31px;
  }
  .pr-lg-32px {
    padding-right: 32px;
  }
  .pr-lg-33px {
    padding-right: 33px;
  }
  .pr-lg-34px {
    padding-right: 34px;
  }
  .pr-lg-35px {
    padding-right: 35px;
  }
  .pr-lg-36px {
    padding-right: 36px;
  }
  .pr-lg-37px {
    padding-right: 37px;
  }
  .pr-lg-38px {
    padding-right: 38px;
  }
  .pr-lg-39px {
    padding-right: 39px;
  }
  .pr-lg-40px {
    padding-right: 40px;
  }
  .pr-lg-41px {
    padding-right: 41px;
  }
  .pr-lg-42px {
    padding-right: 42px;
  }
  .pr-lg-43px {
    padding-right: 43px;
  }
  .pr-lg-44px {
    padding-right: 44px;
  }
  .pr-lg-45px {
    padding-right: 45px;
  }
  .pr-lg-46px {
    padding-right: 46px;
  }
  .pr-lg-47px {
    padding-right: 47px;
  }
  .pr-lg-48px {
    padding-right: 48px;
  }
  .pr-lg-49px {
    padding-right: 49px;
  }
  .pr-lg-50px {
    padding-right: 50px;
  }
  .pr-lg-51px {
    padding-right: 51px;
  }
  .pr-lg-52px {
    padding-right: 52px;
  }
  .pr-lg-53px {
    padding-right: 53px;
  }
  .pr-lg-54px {
    padding-right: 54px;
  }
  .pr-lg-55px {
    padding-right: 55px;
  }
  .pr-lg-56px {
    padding-right: 56px;
  }
  .pr-lg-57px {
    padding-right: 57px;
  }
  .pr-lg-58px {
    padding-right: 58px;
  }
  .pr-lg-59px {
    padding-right: 59px;
  }
  .pr-lg-60px {
    padding-right: 60px;
  }
  .pr-lg-61px {
    padding-right: 61px;
  }
  .pr-lg-62px {
    padding-right: 62px;
  }
  .pr-lg-63px {
    padding-right: 63px;
  }
  .pr-lg-64px {
    padding-right: 64px;
  }
  .pr-lg-65px {
    padding-right: 65px;
  }
  .pr-lg-66px {
    padding-right: 66px;
  }
  .pr-lg-67px {
    padding-right: 67px;
  }
  .pr-lg-68px {
    padding-right: 68px;
  }
  .pr-lg-69px {
    padding-right: 69px;
  }
  .pr-lg-70px {
    padding-right: 70px;
  }
  .pr-lg-71px {
    padding-right: 71px;
  }
  .pr-lg-72px {
    padding-right: 72px;
  }
  .pr-lg-73px {
    padding-right: 73px;
  }
  .pr-lg-74px {
    padding-right: 74px;
  }
  .pr-lg-75px {
    padding-right: 75px;
  }
  .pr-lg-76px {
    padding-right: 76px;
  }
  .pr-lg-77px {
    padding-right: 77px;
  }
  .pr-lg-78px {
    padding-right: 78px;
  }
  .pr-lg-79px {
    padding-right: 79px;
  }
  .pr-lg-80px {
    padding-right: 80px;
  }
  .pr-lg-81px {
    padding-right: 81px;
  }
  .pr-lg-82px {
    padding-right: 82px;
  }
  .pr-lg-83px {
    padding-right: 83px;
  }
  .pr-lg-84px {
    padding-right: 84px;
  }
  .pr-lg-85px {
    padding-right: 85px;
  }
  .pr-lg-86px {
    padding-right: 86px;
  }
  .pr-lg-87px {
    padding-right: 87px;
  }
  .pr-lg-88px {
    padding-right: 88px;
  }
  .pr-lg-89px {
    padding-right: 89px;
  }
  .pr-lg-90px {
    padding-right: 90px;
  }
  .pr-lg-91px {
    padding-right: 91px;
  }
  .pr-lg-92px {
    padding-right: 92px;
  }
  .pr-lg-93px {
    padding-right: 93px;
  }
  .pr-lg-94px {
    padding-right: 94px;
  }
  .pr-lg-95px {
    padding-right: 95px;
  }
  .pr-lg-96px {
    padding-right: 96px;
  }
  .pr-lg-97px {
    padding-right: 97px;
  }
  .pr-lg-98px {
    padding-right: 98px;
  }
  .pr-lg-99px {
    padding-right: 99px;
  }
  .pr-lg-100px {
    padding-right: 100px;
  }
  .pr-lg-101px {
    padding-right: 101px;
  }
  .pr-lg-102px {
    padding-right: 102px;
  }
  .pr-lg-103px {
    padding-right: 103px;
  }
  .pr-lg-104px {
    padding-right: 104px;
  }
  .pr-lg-105px {
    padding-right: 105px;
  }
  .pr-lg-106px {
    padding-right: 106px;
  }
  .pr-lg-107px {
    padding-right: 107px;
  }
  .pr-lg-108px {
    padding-right: 108px;
  }
  .pr-lg-109px {
    padding-right: 109px;
  }
  .pr-lg-110px {
    padding-right: 110px;
  }
  .pr-lg-111px {
    padding-right: 111px;
  }
  .pr-lg-112px {
    padding-right: 112px;
  }
  .pr-lg-113px {
    padding-right: 113px;
  }
  .pr-lg-114px {
    padding-right: 114px;
  }
  .pr-lg-115px {
    padding-right: 115px;
  }
  .pr-lg-116px {
    padding-right: 116px;
  }
  .pr-lg-117px {
    padding-right: 117px;
  }
  .pr-lg-118px {
    padding-right: 118px;
  }
  .pr-lg-119px {
    padding-right: 119px;
  }
  .pr-lg-120px {
    padding-right: 120px;
  }
  .pr-lg-121px {
    padding-right: 121px;
  }
  .pr-lg-122px {
    padding-right: 122px;
  }
  .pr-lg-123px {
    padding-right: 123px;
  }
  .pr-lg-124px {
    padding-right: 124px;
  }
  .pr-lg-125px {
    padding-right: 125px;
  }
  .pr-lg-126px {
    padding-right: 126px;
  }
  .pr-lg-127px {
    padding-right: 127px;
  }
  .pr-lg-128px {
    padding-right: 128px;
  }
  .pr-lg-129px {
    padding-right: 129px;
  }
  .pr-lg-130px {
    padding-right: 130px;
  }
  .pr-lg-131px {
    padding-right: 131px;
  }
  .pr-lg-132px {
    padding-right: 132px;
  }
  .pr-lg-133px {
    padding-right: 133px;
  }
  .pr-lg-134px {
    padding-right: 134px;
  }
  .pr-lg-135px {
    padding-right: 135px;
  }
  .pr-lg-136px {
    padding-right: 136px;
  }
  .pr-lg-137px {
    padding-right: 137px;
  }
  .pr-lg-138px {
    padding-right: 138px;
  }
  .pr-lg-139px {
    padding-right: 139px;
  }
  .pr-lg-140px {
    padding-right: 140px;
  }
  .pr-lg-141px {
    padding-right: 141px;
  }
  .pr-lg-142px {
    padding-right: 142px;
  }
  .pr-lg-143px {
    padding-right: 143px;
  }
  .pr-lg-144px {
    padding-right: 144px;
  }
  .pr-lg-145px {
    padding-right: 145px;
  }
  .pr-lg-146px {
    padding-right: 146px;
  }
  .pr-lg-147px {
    padding-right: 147px;
  }
  .pr-lg-148px {
    padding-right: 148px;
  }
  .pr-lg-149px {
    padding-right: 149px;
  }
  .pr-lg-150px {
    padding-right: 150px;
  }
  .pr-lg-151px {
    padding-right: 151px;
  }
  .pr-lg-152px {
    padding-right: 152px;
  }
  .pr-lg-153px {
    padding-right: 153px;
  }
  .pr-lg-154px {
    padding-right: 154px;
  }
  .pr-lg-155px {
    padding-right: 155px;
  }
  .pr-lg-156px {
    padding-right: 156px;
  }
  .pr-lg-157px {
    padding-right: 157px;
  }
  .pr-lg-158px {
    padding-right: 158px;
  }
  .pr-lg-159px {
    padding-right: 159px;
  }
  .pr-lg-160px {
    padding-right: 160px;
  }
  .pr-lg-161px {
    padding-right: 161px;
  }
  .pr-lg-162px {
    padding-right: 162px;
  }
  .pr-lg-163px {
    padding-right: 163px;
  }
  .pr-lg-164px {
    padding-right: 164px;
  }
  .pr-lg-165px {
    padding-right: 165px;
  }
  .pr-lg-166px {
    padding-right: 166px;
  }
  .pr-lg-167px {
    padding-right: 167px;
  }
  .pr-lg-168px {
    padding-right: 168px;
  }
  .pr-lg-169px {
    padding-right: 169px;
  }
  .pr-lg-170px {
    padding-right: 170px;
  }
  .pr-lg-171px {
    padding-right: 171px;
  }
  .pr-lg-172px {
    padding-right: 172px;
  }
  .pr-lg-173px {
    padding-right: 173px;
  }
  .pr-lg-174px {
    padding-right: 174px;
  }
  .pr-lg-175px {
    padding-right: 175px;
  }
  .pr-lg-176px {
    padding-right: 176px;
  }
  .pr-lg-177px {
    padding-right: 177px;
  }
  .pr-lg-178px {
    padding-right: 178px;
  }
  .pr-lg-179px {
    padding-right: 179px;
  }
  .pr-lg-180px {
    padding-right: 180px;
  }
  .pr-lg-181px {
    padding-right: 181px;
  }
  .pr-lg-182px {
    padding-right: 182px;
  }
  .pr-lg-183px {
    padding-right: 183px;
  }
  .pr-lg-184px {
    padding-right: 184px;
  }
  .pr-lg-185px {
    padding-right: 185px;
  }
  .pr-lg-186px {
    padding-right: 186px;
  }
  .pr-lg-187px {
    padding-right: 187px;
  }
  .pr-lg-188px {
    padding-right: 188px;
  }
  .pr-lg-189px {
    padding-right: 189px;
  }
  .pr-lg-190px {
    padding-right: 190px;
  }
  .pr-lg-191px {
    padding-right: 191px;
  }
  .pr-lg-192px {
    padding-right: 192px;
  }
  .pr-lg-193px {
    padding-right: 193px;
  }
  .pr-lg-194px {
    padding-right: 194px;
  }
  .pr-lg-195px {
    padding-right: 195px;
  }
  .pr-lg-196px {
    padding-right: 196px;
  }
  .pr-lg-197px {
    padding-right: 197px;
  }
  .pr-lg-198px {
    padding-right: 198px;
  }
  .pr-lg-199px {
    padding-right: 199px;
  }
  .pr-lg-200px {
    padding-right: 200px;
  }
  .pt-lg-0px {
    padding-top: 0px;
  }
  .pt-lg-1px {
    padding-top: 1px;
  }
  .pt-lg-2px {
    padding-top: 2px;
  }
  .pt-lg-3px {
    padding-top: 3px;
  }
  .pt-lg-4px {
    padding-top: 4px;
  }
  .pt-lg-5px {
    padding-top: 5px;
  }
  .pt-lg-6px {
    padding-top: 6px;
  }
  .pt-lg-7px {
    padding-top: 7px;
  }
  .pt-lg-8px {
    padding-top: 8px;
  }
  .pt-lg-9px {
    padding-top: 9px;
  }
  .pt-lg-10px {
    padding-top: 10px;
  }
  .pt-lg-11px {
    padding-top: 11px;
  }
  .pt-lg-12px {
    padding-top: 12px;
  }
  .pt-lg-13px {
    padding-top: 13px;
  }
  .pt-lg-14px {
    padding-top: 14px;
  }
  .pt-lg-15px {
    padding-top: 15px;
  }
  .pt-lg-16px {
    padding-top: 16px;
  }
  .pt-lg-17px {
    padding-top: 17px;
  }
  .pt-lg-18px {
    padding-top: 18px;
  }
  .pt-lg-19px {
    padding-top: 19px;
  }
  .pt-lg-20px {
    padding-top: 20px;
  }
  .pt-lg-21px {
    padding-top: 21px;
  }
  .pt-lg-22px {
    padding-top: 22px;
  }
  .pt-lg-23px {
    padding-top: 23px;
  }
  .pt-lg-24px {
    padding-top: 24px;
  }
  .pt-lg-25px {
    padding-top: 25px;
  }
  .pt-lg-26px {
    padding-top: 26px;
  }
  .pt-lg-27px {
    padding-top: 27px;
  }
  .pt-lg-28px {
    padding-top: 28px;
  }
  .pt-lg-29px {
    padding-top: 29px;
  }
  .pt-lg-30px {
    padding-top: 30px;
  }
  .pt-lg-31px {
    padding-top: 31px;
  }
  .pt-lg-32px {
    padding-top: 32px;
  }
  .pt-lg-33px {
    padding-top: 33px;
  }
  .pt-lg-34px {
    padding-top: 34px;
  }
  .pt-lg-35px {
    padding-top: 35px;
  }
  .pt-lg-36px {
    padding-top: 36px;
  }
  .pt-lg-37px {
    padding-top: 37px;
  }
  .pt-lg-38px {
    padding-top: 38px;
  }
  .pt-lg-39px {
    padding-top: 39px;
  }
  .pt-lg-40px {
    padding-top: 40px;
  }
  .pt-lg-41px {
    padding-top: 41px;
  }
  .pt-lg-42px {
    padding-top: 42px;
  }
  .pt-lg-43px {
    padding-top: 43px;
  }
  .pt-lg-44px {
    padding-top: 44px;
  }
  .pt-lg-45px {
    padding-top: 45px;
  }
  .pt-lg-46px {
    padding-top: 46px;
  }
  .pt-lg-47px {
    padding-top: 47px;
  }
  .pt-lg-48px {
    padding-top: 48px;
  }
  .pt-lg-49px {
    padding-top: 49px;
  }
  .pt-lg-50px {
    padding-top: 50px;
  }
  .pt-lg-51px {
    padding-top: 51px;
  }
  .pt-lg-52px {
    padding-top: 52px;
  }
  .pt-lg-53px {
    padding-top: 53px;
  }
  .pt-lg-54px {
    padding-top: 54px;
  }
  .pt-lg-55px {
    padding-top: 55px;
  }
  .pt-lg-56px {
    padding-top: 56px;
  }
  .pt-lg-57px {
    padding-top: 57px;
  }
  .pt-lg-58px {
    padding-top: 58px;
  }
  .pt-lg-59px {
    padding-top: 59px;
  }
  .pt-lg-60px {
    padding-top: 60px;
  }
  .pt-lg-61px {
    padding-top: 61px;
  }
  .pt-lg-62px {
    padding-top: 62px;
  }
  .pt-lg-63px {
    padding-top: 63px;
  }
  .pt-lg-64px {
    padding-top: 64px;
  }
  .pt-lg-65px {
    padding-top: 65px;
  }
  .pt-lg-66px {
    padding-top: 66px;
  }
  .pt-lg-67px {
    padding-top: 67px;
  }
  .pt-lg-68px {
    padding-top: 68px;
  }
  .pt-lg-69px {
    padding-top: 69px;
  }
  .pt-lg-70px {
    padding-top: 70px;
  }
  .pt-lg-71px {
    padding-top: 71px;
  }
  .pt-lg-72px {
    padding-top: 72px;
  }
  .pt-lg-73px {
    padding-top: 73px;
  }
  .pt-lg-74px {
    padding-top: 74px;
  }
  .pt-lg-75px {
    padding-top: 75px;
  }
  .pt-lg-76px {
    padding-top: 76px;
  }
  .pt-lg-77px {
    padding-top: 77px;
  }
  .pt-lg-78px {
    padding-top: 78px;
  }
  .pt-lg-79px {
    padding-top: 79px;
  }
  .pt-lg-80px {
    padding-top: 80px;
  }
  .pt-lg-81px {
    padding-top: 81px;
  }
  .pt-lg-82px {
    padding-top: 82px;
  }
  .pt-lg-83px {
    padding-top: 83px;
  }
  .pt-lg-84px {
    padding-top: 84px;
  }
  .pt-lg-85px {
    padding-top: 85px;
  }
  .pt-lg-86px {
    padding-top: 86px;
  }
  .pt-lg-87px {
    padding-top: 87px;
  }
  .pt-lg-88px {
    padding-top: 88px;
  }
  .pt-lg-89px {
    padding-top: 89px;
  }
  .pt-lg-90px {
    padding-top: 90px;
  }
  .pt-lg-91px {
    padding-top: 91px;
  }
  .pt-lg-92px {
    padding-top: 92px;
  }
  .pt-lg-93px {
    padding-top: 93px;
  }
  .pt-lg-94px {
    padding-top: 94px;
  }
  .pt-lg-95px {
    padding-top: 95px;
  }
  .pt-lg-96px {
    padding-top: 96px;
  }
  .pt-lg-97px {
    padding-top: 97px;
  }
  .pt-lg-98px {
    padding-top: 98px;
  }
  .pt-lg-99px {
    padding-top: 99px;
  }
  .pt-lg-100px {
    padding-top: 100px;
  }
  .pt-lg-101px {
    padding-top: 101px;
  }
  .pt-lg-102px {
    padding-top: 102px;
  }
  .pt-lg-103px {
    padding-top: 103px;
  }
  .pt-lg-104px {
    padding-top: 104px;
  }
  .pt-lg-105px {
    padding-top: 105px;
  }
  .pt-lg-106px {
    padding-top: 106px;
  }
  .pt-lg-107px {
    padding-top: 107px;
  }
  .pt-lg-108px {
    padding-top: 108px;
  }
  .pt-lg-109px {
    padding-top: 109px;
  }
  .pt-lg-110px {
    padding-top: 110px;
  }
  .pt-lg-111px {
    padding-top: 111px;
  }
  .pt-lg-112px {
    padding-top: 112px;
  }
  .pt-lg-113px {
    padding-top: 113px;
  }
  .pt-lg-114px {
    padding-top: 114px;
  }
  .pt-lg-115px {
    padding-top: 115px;
  }
  .pt-lg-116px {
    padding-top: 116px;
  }
  .pt-lg-117px {
    padding-top: 117px;
  }
  .pt-lg-118px {
    padding-top: 118px;
  }
  .pt-lg-119px {
    padding-top: 119px;
  }
  .pt-lg-120px {
    padding-top: 120px;
  }
  .pt-lg-121px {
    padding-top: 121px;
  }
  .pt-lg-122px {
    padding-top: 122px;
  }
  .pt-lg-123px {
    padding-top: 123px;
  }
  .pt-lg-124px {
    padding-top: 124px;
  }
  .pt-lg-125px {
    padding-top: 125px;
  }
  .pt-lg-126px {
    padding-top: 126px;
  }
  .pt-lg-127px {
    padding-top: 127px;
  }
  .pt-lg-128px {
    padding-top: 128px;
  }
  .pt-lg-129px {
    padding-top: 129px;
  }
  .pt-lg-130px {
    padding-top: 130px;
  }
  .pt-lg-131px {
    padding-top: 131px;
  }
  .pt-lg-132px {
    padding-top: 132px;
  }
  .pt-lg-133px {
    padding-top: 133px;
  }
  .pt-lg-134px {
    padding-top: 134px;
  }
  .pt-lg-135px {
    padding-top: 135px;
  }
  .pt-lg-136px {
    padding-top: 136px;
  }
  .pt-lg-137px {
    padding-top: 137px;
  }
  .pt-lg-138px {
    padding-top: 138px;
  }
  .pt-lg-139px {
    padding-top: 139px;
  }
  .pt-lg-140px {
    padding-top: 140px;
  }
  .pt-lg-141px {
    padding-top: 141px;
  }
  .pt-lg-142px {
    padding-top: 142px;
  }
  .pt-lg-143px {
    padding-top: 143px;
  }
  .pt-lg-144px {
    padding-top: 144px;
  }
  .pt-lg-145px {
    padding-top: 145px;
  }
  .pt-lg-146px {
    padding-top: 146px;
  }
  .pt-lg-147px {
    padding-top: 147px;
  }
  .pt-lg-148px {
    padding-top: 148px;
  }
  .pt-lg-149px {
    padding-top: 149px;
  }
  .pt-lg-150px {
    padding-top: 150px;
  }
  .pt-lg-151px {
    padding-top: 151px;
  }
  .pt-lg-152px {
    padding-top: 152px;
  }
  .pt-lg-153px {
    padding-top: 153px;
  }
  .pt-lg-154px {
    padding-top: 154px;
  }
  .pt-lg-155px {
    padding-top: 155px;
  }
  .pt-lg-156px {
    padding-top: 156px;
  }
  .pt-lg-157px {
    padding-top: 157px;
  }
  .pt-lg-158px {
    padding-top: 158px;
  }
  .pt-lg-159px {
    padding-top: 159px;
  }
  .pt-lg-160px {
    padding-top: 160px;
  }
  .pt-lg-161px {
    padding-top: 161px;
  }
  .pt-lg-162px {
    padding-top: 162px;
  }
  .pt-lg-163px {
    padding-top: 163px;
  }
  .pt-lg-164px {
    padding-top: 164px;
  }
  .pt-lg-165px {
    padding-top: 165px;
  }
  .pt-lg-166px {
    padding-top: 166px;
  }
  .pt-lg-167px {
    padding-top: 167px;
  }
  .pt-lg-168px {
    padding-top: 168px;
  }
  .pt-lg-169px {
    padding-top: 169px;
  }
  .pt-lg-170px {
    padding-top: 170px;
  }
  .pt-lg-171px {
    padding-top: 171px;
  }
  .pt-lg-172px {
    padding-top: 172px;
  }
  .pt-lg-173px {
    padding-top: 173px;
  }
  .pt-lg-174px {
    padding-top: 174px;
  }
  .pt-lg-175px {
    padding-top: 175px;
  }
  .pt-lg-176px {
    padding-top: 176px;
  }
  .pt-lg-177px {
    padding-top: 177px;
  }
  .pt-lg-178px {
    padding-top: 178px;
  }
  .pt-lg-179px {
    padding-top: 179px;
  }
  .pt-lg-180px {
    padding-top: 180px;
  }
  .pt-lg-181px {
    padding-top: 181px;
  }
  .pt-lg-182px {
    padding-top: 182px;
  }
  .pt-lg-183px {
    padding-top: 183px;
  }
  .pt-lg-184px {
    padding-top: 184px;
  }
  .pt-lg-185px {
    padding-top: 185px;
  }
  .pt-lg-186px {
    padding-top: 186px;
  }
  .pt-lg-187px {
    padding-top: 187px;
  }
  .pt-lg-188px {
    padding-top: 188px;
  }
  .pt-lg-189px {
    padding-top: 189px;
  }
  .pt-lg-190px {
    padding-top: 190px;
  }
  .pt-lg-191px {
    padding-top: 191px;
  }
  .pt-lg-192px {
    padding-top: 192px;
  }
  .pt-lg-193px {
    padding-top: 193px;
  }
  .pt-lg-194px {
    padding-top: 194px;
  }
  .pt-lg-195px {
    padding-top: 195px;
  }
  .pt-lg-196px {
    padding-top: 196px;
  }
  .pt-lg-197px {
    padding-top: 197px;
  }
  .pt-lg-198px {
    padding-top: 198px;
  }
  .pt-lg-199px {
    padding-top: 199px;
  }
  .pt-lg-200px {
    padding-top: 200px;
  }
  .pb-lg-0px {
    padding-bottom: 0px;
  }
  .pb-lg-1px {
    padding-bottom: 1px;
  }
  .pb-lg-2px {
    padding-bottom: 2px;
  }
  .pb-lg-3px {
    padding-bottom: 3px;
  }
  .pb-lg-4px {
    padding-bottom: 4px;
  }
  .pb-lg-5px {
    padding-bottom: 5px;
  }
  .pb-lg-6px {
    padding-bottom: 6px;
  }
  .pb-lg-7px {
    padding-bottom: 7px;
  }
  .pb-lg-8px {
    padding-bottom: 8px;
  }
  .pb-lg-9px {
    padding-bottom: 9px;
  }
  .pb-lg-10px {
    padding-bottom: 10px;
  }
  .pb-lg-11px {
    padding-bottom: 11px;
  }
  .pb-lg-12px {
    padding-bottom: 12px;
  }
  .pb-lg-13px {
    padding-bottom: 13px;
  }
  .pb-lg-14px {
    padding-bottom: 14px;
  }
  .pb-lg-15px {
    padding-bottom: 15px;
  }
  .pb-lg-16px {
    padding-bottom: 16px;
  }
  .pb-lg-17px {
    padding-bottom: 17px;
  }
  .pb-lg-18px {
    padding-bottom: 18px;
  }
  .pb-lg-19px {
    padding-bottom: 19px;
  }
  .pb-lg-20px {
    padding-bottom: 20px;
  }
  .pb-lg-21px {
    padding-bottom: 21px;
  }
  .pb-lg-22px {
    padding-bottom: 22px;
  }
  .pb-lg-23px {
    padding-bottom: 23px;
  }
  .pb-lg-24px {
    padding-bottom: 24px;
  }
  .pb-lg-25px {
    padding-bottom: 25px;
  }
  .pb-lg-26px {
    padding-bottom: 26px;
  }
  .pb-lg-27px {
    padding-bottom: 27px;
  }
  .pb-lg-28px {
    padding-bottom: 28px;
  }
  .pb-lg-29px {
    padding-bottom: 29px;
  }
  .pb-lg-30px {
    padding-bottom: 30px;
  }
  .pb-lg-31px {
    padding-bottom: 31px;
  }
  .pb-lg-32px {
    padding-bottom: 32px;
  }
  .pb-lg-33px {
    padding-bottom: 33px;
  }
  .pb-lg-34px {
    padding-bottom: 34px;
  }
  .pb-lg-35px {
    padding-bottom: 35px;
  }
  .pb-lg-36px {
    padding-bottom: 36px;
  }
  .pb-lg-37px {
    padding-bottom: 37px;
  }
  .pb-lg-38px {
    padding-bottom: 38px;
  }
  .pb-lg-39px {
    padding-bottom: 39px;
  }
  .pb-lg-40px {
    padding-bottom: 40px;
  }
  .pb-lg-41px {
    padding-bottom: 41px;
  }
  .pb-lg-42px {
    padding-bottom: 42px;
  }
  .pb-lg-43px {
    padding-bottom: 43px;
  }
  .pb-lg-44px {
    padding-bottom: 44px;
  }
  .pb-lg-45px {
    padding-bottom: 45px;
  }
  .pb-lg-46px {
    padding-bottom: 46px;
  }
  .pb-lg-47px {
    padding-bottom: 47px;
  }
  .pb-lg-48px {
    padding-bottom: 48px;
  }
  .pb-lg-49px {
    padding-bottom: 49px;
  }
  .pb-lg-50px {
    padding-bottom: 50px;
  }
  .pb-lg-51px {
    padding-bottom: 51px;
  }
  .pb-lg-52px {
    padding-bottom: 52px;
  }
  .pb-lg-53px {
    padding-bottom: 53px;
  }
  .pb-lg-54px {
    padding-bottom: 54px;
  }
  .pb-lg-55px {
    padding-bottom: 55px;
  }
  .pb-lg-56px {
    padding-bottom: 56px;
  }
  .pb-lg-57px {
    padding-bottom: 57px;
  }
  .pb-lg-58px {
    padding-bottom: 58px;
  }
  .pb-lg-59px {
    padding-bottom: 59px;
  }
  .pb-lg-60px {
    padding-bottom: 60px;
  }
  .pb-lg-61px {
    padding-bottom: 61px;
  }
  .pb-lg-62px {
    padding-bottom: 62px;
  }
  .pb-lg-63px {
    padding-bottom: 63px;
  }
  .pb-lg-64px {
    padding-bottom: 64px;
  }
  .pb-lg-65px {
    padding-bottom: 65px;
  }
  .pb-lg-66px {
    padding-bottom: 66px;
  }
  .pb-lg-67px {
    padding-bottom: 67px;
  }
  .pb-lg-68px {
    padding-bottom: 68px;
  }
  .pb-lg-69px {
    padding-bottom: 69px;
  }
  .pb-lg-70px {
    padding-bottom: 70px;
  }
  .pb-lg-71px {
    padding-bottom: 71px;
  }
  .pb-lg-72px {
    padding-bottom: 72px;
  }
  .pb-lg-73px {
    padding-bottom: 73px;
  }
  .pb-lg-74px {
    padding-bottom: 74px;
  }
  .pb-lg-75px {
    padding-bottom: 75px;
  }
  .pb-lg-76px {
    padding-bottom: 76px;
  }
  .pb-lg-77px {
    padding-bottom: 77px;
  }
  .pb-lg-78px {
    padding-bottom: 78px;
  }
  .pb-lg-79px {
    padding-bottom: 79px;
  }
  .pb-lg-80px {
    padding-bottom: 80px;
  }
  .pb-lg-81px {
    padding-bottom: 81px;
  }
  .pb-lg-82px {
    padding-bottom: 82px;
  }
  .pb-lg-83px {
    padding-bottom: 83px;
  }
  .pb-lg-84px {
    padding-bottom: 84px;
  }
  .pb-lg-85px {
    padding-bottom: 85px;
  }
  .pb-lg-86px {
    padding-bottom: 86px;
  }
  .pb-lg-87px {
    padding-bottom: 87px;
  }
  .pb-lg-88px {
    padding-bottom: 88px;
  }
  .pb-lg-89px {
    padding-bottom: 89px;
  }
  .pb-lg-90px {
    padding-bottom: 90px;
  }
  .pb-lg-91px {
    padding-bottom: 91px;
  }
  .pb-lg-92px {
    padding-bottom: 92px;
  }
  .pb-lg-93px {
    padding-bottom: 93px;
  }
  .pb-lg-94px {
    padding-bottom: 94px;
  }
  .pb-lg-95px {
    padding-bottom: 95px;
  }
  .pb-lg-96px {
    padding-bottom: 96px;
  }
  .pb-lg-97px {
    padding-bottom: 97px;
  }
  .pb-lg-98px {
    padding-bottom: 98px;
  }
  .pb-lg-99px {
    padding-bottom: 99px;
  }
  .pb-lg-100px {
    padding-bottom: 100px;
  }
  .pb-lg-101px {
    padding-bottom: 101px;
  }
  .pb-lg-102px {
    padding-bottom: 102px;
  }
  .pb-lg-103px {
    padding-bottom: 103px;
  }
  .pb-lg-104px {
    padding-bottom: 104px;
  }
  .pb-lg-105px {
    padding-bottom: 105px;
  }
  .pb-lg-106px {
    padding-bottom: 106px;
  }
  .pb-lg-107px {
    padding-bottom: 107px;
  }
  .pb-lg-108px {
    padding-bottom: 108px;
  }
  .pb-lg-109px {
    padding-bottom: 109px;
  }
  .pb-lg-110px {
    padding-bottom: 110px;
  }
  .pb-lg-111px {
    padding-bottom: 111px;
  }
  .pb-lg-112px {
    padding-bottom: 112px;
  }
  .pb-lg-113px {
    padding-bottom: 113px;
  }
  .pb-lg-114px {
    padding-bottom: 114px;
  }
  .pb-lg-115px {
    padding-bottom: 115px;
  }
  .pb-lg-116px {
    padding-bottom: 116px;
  }
  .pb-lg-117px {
    padding-bottom: 117px;
  }
  .pb-lg-118px {
    padding-bottom: 118px;
  }
  .pb-lg-119px {
    padding-bottom: 119px;
  }
  .pb-lg-120px {
    padding-bottom: 120px;
  }
  .pb-lg-121px {
    padding-bottom: 121px;
  }
  .pb-lg-122px {
    padding-bottom: 122px;
  }
  .pb-lg-123px {
    padding-bottom: 123px;
  }
  .pb-lg-124px {
    padding-bottom: 124px;
  }
  .pb-lg-125px {
    padding-bottom: 125px;
  }
  .pb-lg-126px {
    padding-bottom: 126px;
  }
  .pb-lg-127px {
    padding-bottom: 127px;
  }
  .pb-lg-128px {
    padding-bottom: 128px;
  }
  .pb-lg-129px {
    padding-bottom: 129px;
  }
  .pb-lg-130px {
    padding-bottom: 130px;
  }
  .pb-lg-131px {
    padding-bottom: 131px;
  }
  .pb-lg-132px {
    padding-bottom: 132px;
  }
  .pb-lg-133px {
    padding-bottom: 133px;
  }
  .pb-lg-134px {
    padding-bottom: 134px;
  }
  .pb-lg-135px {
    padding-bottom: 135px;
  }
  .pb-lg-136px {
    padding-bottom: 136px;
  }
  .pb-lg-137px {
    padding-bottom: 137px;
  }
  .pb-lg-138px {
    padding-bottom: 138px;
  }
  .pb-lg-139px {
    padding-bottom: 139px;
  }
  .pb-lg-140px {
    padding-bottom: 140px;
  }
  .pb-lg-141px {
    padding-bottom: 141px;
  }
  .pb-lg-142px {
    padding-bottom: 142px;
  }
  .pb-lg-143px {
    padding-bottom: 143px;
  }
  .pb-lg-144px {
    padding-bottom: 144px;
  }
  .pb-lg-145px {
    padding-bottom: 145px;
  }
  .pb-lg-146px {
    padding-bottom: 146px;
  }
  .pb-lg-147px {
    padding-bottom: 147px;
  }
  .pb-lg-148px {
    padding-bottom: 148px;
  }
  .pb-lg-149px {
    padding-bottom: 149px;
  }
  .pb-lg-150px {
    padding-bottom: 150px;
  }
  .pb-lg-151px {
    padding-bottom: 151px;
  }
  .pb-lg-152px {
    padding-bottom: 152px;
  }
  .pb-lg-153px {
    padding-bottom: 153px;
  }
  .pb-lg-154px {
    padding-bottom: 154px;
  }
  .pb-lg-155px {
    padding-bottom: 155px;
  }
  .pb-lg-156px {
    padding-bottom: 156px;
  }
  .pb-lg-157px {
    padding-bottom: 157px;
  }
  .pb-lg-158px {
    padding-bottom: 158px;
  }
  .pb-lg-159px {
    padding-bottom: 159px;
  }
  .pb-lg-160px {
    padding-bottom: 160px;
  }
  .pb-lg-161px {
    padding-bottom: 161px;
  }
  .pb-lg-162px {
    padding-bottom: 162px;
  }
  .pb-lg-163px {
    padding-bottom: 163px;
  }
  .pb-lg-164px {
    padding-bottom: 164px;
  }
  .pb-lg-165px {
    padding-bottom: 165px;
  }
  .pb-lg-166px {
    padding-bottom: 166px;
  }
  .pb-lg-167px {
    padding-bottom: 167px;
  }
  .pb-lg-168px {
    padding-bottom: 168px;
  }
  .pb-lg-169px {
    padding-bottom: 169px;
  }
  .pb-lg-170px {
    padding-bottom: 170px;
  }
  .pb-lg-171px {
    padding-bottom: 171px;
  }
  .pb-lg-172px {
    padding-bottom: 172px;
  }
  .pb-lg-173px {
    padding-bottom: 173px;
  }
  .pb-lg-174px {
    padding-bottom: 174px;
  }
  .pb-lg-175px {
    padding-bottom: 175px;
  }
  .pb-lg-176px {
    padding-bottom: 176px;
  }
  .pb-lg-177px {
    padding-bottom: 177px;
  }
  .pb-lg-178px {
    padding-bottom: 178px;
  }
  .pb-lg-179px {
    padding-bottom: 179px;
  }
  .pb-lg-180px {
    padding-bottom: 180px;
  }
  .pb-lg-181px {
    padding-bottom: 181px;
  }
  .pb-lg-182px {
    padding-bottom: 182px;
  }
  .pb-lg-183px {
    padding-bottom: 183px;
  }
  .pb-lg-184px {
    padding-bottom: 184px;
  }
  .pb-lg-185px {
    padding-bottom: 185px;
  }
  .pb-lg-186px {
    padding-bottom: 186px;
  }
  .pb-lg-187px {
    padding-bottom: 187px;
  }
  .pb-lg-188px {
    padding-bottom: 188px;
  }
  .pb-lg-189px {
    padding-bottom: 189px;
  }
  .pb-lg-190px {
    padding-bottom: 190px;
  }
  .pb-lg-191px {
    padding-bottom: 191px;
  }
  .pb-lg-192px {
    padding-bottom: 192px;
  }
  .pb-lg-193px {
    padding-bottom: 193px;
  }
  .pb-lg-194px {
    padding-bottom: 194px;
  }
  .pb-lg-195px {
    padding-bottom: 195px;
  }
  .pb-lg-196px {
    padding-bottom: 196px;
  }
  .pb-lg-197px {
    padding-bottom: 197px;
  }
  .pb-lg-198px {
    padding-bottom: 198px;
  }
  .pb-lg-199px {
    padding-bottom: 199px;
  }
  .pb-lg-200px {
    padding-bottom: 200px;
  }
}
